
body, html {
  font-family: Arial, serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
  background-image: url(sneakers.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.container {
  position: relative;
  max-width: 1000px;
  margin: auto;
} 

.content {
  position: absolute;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
} 

.footer{
  padding: 64px;
  background-color: lightgrey;
  width: 100%;
}

.row{
  width: 100%;
  padding: 8px;
  text-align: left;
  margin: 0px;
  display: table;
  clear: both;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: 20px;
  font-size: 20px;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-top: 20px;
  font-size: 16px;
}

h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 250;
  margin-top: 20px;
  font-size: 17px;
}

p {
  margin-top: 80px;
}

button {
border: none; 
border-radius: 5px;
padding: 12px 24px;
cursor: pointer;
}

button:hover{
background-color: blue;
}


#image img {
  height: auto;
  width: 100%;
  
}
