
body, html {
  font-family: Arial, serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
  background-image: url(sneakers.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
  
.topnav{
background-color: #333;
overflow: hidden;
}

.topnav a{
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.navbar{
color: #f2f2f2; 
overflow: hidden;
text-align: left;
}

.nav-item{
  color: white;
	float: right;
	text-decoration: none;
	font-size: 16px;
	display: block; 
} 

.nav_link{
	color: white;
	float: right;
	text-decoration: none;
	font-size: 16px;
	display: block;
}

.navbar a .nav_link{
	float: right;	
}	

.navbar a:hover, .dropdown:hover, .dropbtn{
  background-color:#ddd;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
}

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
} 

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
} 

.container .content .button{
float: left;
background-color: #555;
font-size: 16px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
}

.container .content .button:hover{
background-color: black;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 5010;
  margin-top: 20px;
  font-size: 25px;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 20px;
  font-size: 15px;
}

p {
  margin-top: 80px;
}

button {
float: left;
border: none; 
border-radius: 5px;
}

button:hover{
background-color: black;
}


#image img {
  height: auto;
  width: 100%;
  
}
