<!DOCTYPE html>
<html lang="en">
<head>
   <title>About Us</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <script src="https://kit.fontawesome.com/c5a0d2be63.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" type="text/css" href="css/main.css">
   <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gugi&family=Oswald:wght@300&family=Playfair+Display&display=swap"
   rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->
   <% include ../helpers/navbar %>
   <% include ../helpers/sidenav %>

   <main>
      <div class="about-wrapper">
         <h1 style="text-align: center;">FortunesWear</h1>
         <img class="about-image" src="images/fortune.JPG" style="width:50%;" />
         <div class="container">
            <h2>Fortune Mwagambo</h2>
            <p class="title">CEO & Founder</p>
            <p>fortuneniguel@gmail.com</p>
         </div>
      
         <p>FortunesWear was found in 2020 by a sneaker lover who is keen to share he's passion for sneakers to everyone
            in Kenya.
            FortunesFootWear is located in Mombasa County around the CBD but expands its deliveries all over the country.
            Business is conducted either by the customers visiting the shop physically or purchase products online.
            <br />
            FortunesWear <em><b>imports goods from authorized suppliers</b></em>and hence everything I sell is <em><b>100%
                  LEGIT.</b></em>
            <br />
            For orders purchased online, deliveries are done all over the country at a small fee incured by the buyer while
            free deliveries are done around the CBD.
            <br />
            In addittion, I am very proud to announce that my first retail shop was launced in April 2020 and you mosted
            welcome to visit it in Digo Road, Mombasa.
            <br />
            I hope you enjoy your shopping experience with us, and I can't wait to bring you the latest and coolest items from
            across the globe!
         </p>
      </div>
   </main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
   </script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
   </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
   </script>

    <script>
      function openNav() {
         document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
         document.getElementById("mySidenav").style.width = "0";
      }
   </script>
</body>

</html>