<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->
    <div class="page-header">
    <% include ../helpers/navbar %> 

        <h1>FortunesFootWear</h1>
        <div class="container">
            <img src="images/fortune.JPG" style="width:50%;"/>
            <h2>Fortune Mwagambo</h2>
            <p class="opacity">Founder</p> 
        </div> 
    <br/> 
    <p>FortunesFootWear was found in 2020 by a sneaker lover who is keen to share he's passion for sneakers to everyone in Kenya.
       FortunesFootWear is located in Mombasa County around the CBD but expands its deliveries all over the country.
       Business is conducted either by the customers visiting the shop physically or purchase products online.
    <br/>
       FortunesFootWear <em><b>imports goods from authorized suppliers</b></em>and hence everything I sell is <em><b>100% LEGIT.</b></em> 
    <br/>
       For orders purchased online, deliveries are done all over the country at a small fee incured by the buyer while free deliveries are done around the CBD.
    <br/>
       In addittion, I am very proud to announce that my first retail shop was launced in April 2020 and you mosted welcome to visit it in Digo Road, Mombasa.
    <br/>
       I hope you enjoy your shopping experience with us, and I can't wait to bring you the latest and coolest items from across the globe!  
    </p> 
    </div>

</body>

</html>