<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adidas Yeezy Boost 350-V2 Desert Sage-FX9035</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ecommerce.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script>
    <script src="https://kit.fontawesome.com/c5a0d2be63.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div class="container">
        <section class="product-container-wrapper">
            <h1 class="image-title">
                <span>Adidas Yeezy Boost 350-V2</span>
            </h1>
            <div class="product-container">
                <div class="product-info">
                    <div class="product-value">
                        FX9035
                    </div>
                    <hr>
                    <div class="product-price">
                        Ksh.2800
                    </div>
                    <hr>
                    <div class="size-button">
                        <a target="_blank" href="https://fortunesvibez.herokuapp.com/size-info">Size Guide</a>
                    </div>
    
                    <form method="post" id="add-to-cart" class="-phxs" data-add-cart="" data-id="GE840SH1J1QSKNAFAMZ"
                        data-name="SNEAKERS" data-price="18.37" data-brand="Generic"
                        data-category="Fashion/Men's Fashion/Shoes/Fashion Sneakers" data-dimension23="16578"
                        data-dimension26="3" data-dimension27="4.3" data-dimension28="0" data-dimension37="0"
                        data-dimension43="" data-dimension44="0" data-track-onsubmit="addToCart" data-invalid-pop-id="2"
                        novalidate="true">
                        <div role="radiogroup" class="var-w" aria-label="Select Variation" data-fi-w="">
                            <input id="fi-simpleSku-0" class="vi" type="radio" name="simpleSku"
                                value="GE840AA0OH27BNAFAMZ-24209470" required="" data-fi="">
                            <label class="vl" for="fi-simpleSku-0">39</label>
                            <input id="fi-simpleSku-1" class="vi" type="radio" name="simpleSku"
                                value="GE840AA0OH27BNAFAMZ-24209471" required="" data-fi="">
                            <label class="vl" for="fi-simpleSku-1">40</label>
                            <input id="fi-simpleSku-2" class="vi" type="radio" name="simpleSku"
                                value="GE840AA0OH27BNAFAMZ-24209472" required="" data-fi="">
                            <label class="vl" for="fi-simpleSku-2">41</label>
                            <input id="fi-simpleSku-3" class="vi" type="radio" name="simpleSku"
                                value="GE840AA0OH27BNAFAMZ-24209473" required="" data-fi="">
                            <label class="vl" for="fi-simpleSku-3">42</label>
                            <input id="fi-simpleSku-4" class="vi" type="radio" name="simpleSku"
                                value="GE840AA0OH27BNAFAMZ-24209474" required="" data-fi="">
                            <label class="vl" for="fi-simpleSku-4">43</label>
                            <input id="fi-simpleSku-5" class="vi" type="radio" name="simpleSku"
                                value="GE840AA0OH27BNAFAMZ-24209475" required="" data-fi="">
                            <label class="vl" for="fi-simpleSku-5">44</label>
                        </div>
                        <div class="add-to-cart">
                            <button class="cart" data-submit="">
                                <use
                                    xlink:href="https://fortuneswears.herokuapp.com/assets_he/images/i-icons.95f28ca6.svg#add-cart">
                                </use>
                                <span>Add to cart</span>
                            </button>
                        </div>
                        <div class="wishlist">
                            <a href="#" class="action towishlist"
                                data-post="{&quot;action&quot;:&quot;https:\/\/www.fortunesvibez.com\/wishlist\/index\/add\"
                                data-action="add-to-wishlist">
                                <span>Add to Wish List</span>
                            </a>
                        </div>
                        <input name="csrfToken" value="f401ca3ffc61cbe74ed419ff545e98d2" type="hidden">
                    </form>
    
                    <div class="description-attr">
                        <div id="product-description">Product Description</div>
                        <div class="description-wrapper">
                            <ul class="product-attr">
                                <li>
                                    <span class="attr-label">
                                        Release Date </span>
                                    <span class="attr-value">
                                        March 14, 2020
                                    </span>
                                </li>
                                <li>
                                    <span class="attr-label">
                                        Item Code </span>
                                    <span class="attr-value">
                                        FX9035
                                    </span>
                                </li>
                                <li>
                                    <span class="attr-label">
                                        Color </span>
                                    <span class="attr-value">
                                        DESERT SAGE
                                    </span>
                                </li>
                                <li>
                                    <span class="attr-label">
                                        Made In </span>
                                    <span class="attr-value">
                                        China
                                    </span>
                                </li>
                            </ul>
                            <div class="product attribute overview">
                                <div class="value" itemprop="description">
                                    <p><span style="color: #a78c57;">Choose the Yeezy Boost if you want more support and comfort. Innovated
                                            by adidas and leading chemical company BASF, the Boost is a revolutionary cushioning system
                                            which "boosts" your speed and energy. <br>The ‘Desert Sage’ edition of adidas Yeezy Boost 350 V2
                                            finally arrives. The pair features a sage green primeknit upper with vibrant orange covering the
                                            sockliner atop a gum-colored rubber outsole under a refresh take. Its reflective stripe on the
                                            sides and heels is another highlight. <br></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-images">
                    <div class="images">
                        <div class="mySlides">
                            <img src="images/menshoes/adidasYeezyBoost_350V2DesertSage1.jpg" style="width: 100%;">
                        </div>
    
                        <div class="mySlides">
                            <img src="images/menshoes/adidasYeezyBoost_350V2DesertSage2.jpg" style="width: 100%;">
                        </div>
    
                        <div class="mySlides">
                            <img src="images/menshoes/adidasYeezyBoost_350V2DesertSage3.jpg" style="width: 100%;">
                        </div>
    
                        <div class="mySlides">
                            <img src="images/menshoes/adidasYeezyBoost_350V2DesertSage4.jpg" style="width: 100%;">
                        </div>
    
                        <div class="mySlides">
                            <img src="images/menshoes/adidasYeezyBoost_350V2DesertSage5.jpg" style="width: 100%;">
                        </div>
    
                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>
    
                        <div class="row">
                            <div class="column">
                                <img class="demo cursor" src="images/menshoes/adidasYeezyBoost_350V2DesertSage1.jpg"
                                    style="width:100%" onclick="currentSlide(1)">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="images/menshoes/adidasYeezyBoost_350V2DesertSage2.jpg"
                                    style="width:100%" onclick="currentSlide(2)">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="images/menshoes/adidasYeezyBoost_350V2DesertSage3.jpg"
                                    style="width:100%" onclick="currentSlide(3)">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="images/menshoes/adidasYeezyBoost_350V2DesertSage4.jpg"
                                    style="width:100%" onclick="currentSlide(4)">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="images/menshoes/adidasYeezyBoost_350V2DesertSage5.jpg"
                                    style="width:100%" onclick="currentSlide(5)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <script src="js/main.js"></script>
</body>
</html>