<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adidas Yeezy Boost 350 V2 Asia-Flax </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c5a0d2be63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gugi&family=Oswald:wght@300&family=Playfair+Display&display=swap"
    rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="container" id="top-header">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-12">
                    <div class="btn-group">
                        <button class="btn border dropdown-toggle my-md-4 my-2 text-white" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">KSH</button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">USD</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 text-center">
                    <h2 class="my-md-3 site-title">FortunesVibez</h2>
                </div>
                <div class="col-md-4 col-12 text-right">
                    <p class="my-md-4 header-links">
                        <i class="fas fa-user"></i>
                        <a href="/customer/account/login" class="px-2">Sign In</a>
                        <a href="/create" class="px-1">Create An Account</a>
                    </p>
                </div>
            </div>
        </div>
    
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-md navbar-light bg-white">
                <div class="navbar-collapse collapse show" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/new-arrival">NEW ARRIVAL</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                JEWELRY
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/men-jewelry">Men's Jewelry</a>
                                <a class="dropdown-item" href="/women-jewelry">Women's Jewelry</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SHOES
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/men-shoes">Men's Shoes</a>
                                <a class="dropdown-item" href="/women-shoes">Women's Shoes</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                MY ACCOUNT
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/login">LOGIN</a>
                                <a class="dropdown-item" href="/register">REGISTER</a>
                                <a class="dropdown-item" href="/shop">SHOP</a>
                                <a class="dropdown-item" href="/cart">CART</a>
                                <a class="dropdown-item" onclick="logout()">LOGOUT</a>
                                <a class="dropdown-item" href="/customer">ACTIVATE</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">CONTACT US</a>
                        </li>
                    </ul>
                </div>
    
                <div class="navbar-nav">
                    <li class="nav-item border rounded-circle mx-2 search-icon">
                        <a href="#">
                            <i class="fas fa-search p-2"></i>
                        </a>
                    </li>
                    <li class="nav-item border rounded-circle mx-2 shopping-cart-icon">
                        <a href="/cart">
                            <i class="fas fa-shopping-cart p-2"></i>
                        </a>
                    </li>
                </div>
            </nav>
        </div>
    </header>
    
    <!-- Top menu on small screens -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="login-register">
            <a href="/login">Login/Register</a>
        </div>
        <div class="menu-scroller-wrap">
            <ul class="menu-scroll" role="menu" tabindex="0">
                <li class="menu-item">
                    <a href="/jewelry">Jewelry</a>
                    <span class="menu-switch"></span>
                    <div class="menu-item1">
                        <a href="/men-jewelry">Men Jewelry</a>
                        <a href="/women-jewelry">Women Jewelry</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="/blog">Blog</a>
                </li>
            </ul>
            <div class="mobile-shopping">
                <a href="/shipping-policy">Shopping Policy</a>
            </div>
            <div class="mobile-return">
                <a href="/return-policy">Return Policy</a>
            </div>
            <div class="mobile-payment">
                <a href="/payment-policy">Payment Policy</a>
            </div>
        </div>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <div class="container">
        <header class="header-content">
            <span class="nav-toggle" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
            <div class="logo">
                <a href="/">FortunesVibez</a>
            </div>
            <div class="minicart">
                <a href="/cart">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        </header>
    </div>

    <!---------------------------------------------------->
    <div class="container">
        <section class="product-container-wrapper">
            <div class="product-title">
                Adidas Yeezy Boost V2 Asia-Flax
            </div>
            <div class="product-container">
                <div class="product-info">
                    <div class="product-value">
                        FX9028
                    </div>
                    <hr>
                    <div class="product-price">
                        Ksh.4000
                    </div>
                    <hr>
                    <div class="size-button">
                        <a target="_blank" href="https://fortunesvibez.herokuapp.com/size-info">Size Guide</a>
                    </div>
    
                    <form method="post" id="add-to-cart" class="-phxs" data-add-cart="" data-id="GE840SH1J1QSKNAFAMZ"
                        data-name="SNEAKERS" data-price="18.37" data-brand="Generic"
                        data-category="Fashion/Men's Fashion/Shoes/Fashion Sneakers" data-dimension23="16578"
                        data-dimension26="3" data-dimension27="4.3" data-dimension28="0" data-dimension37="0"
                        data-dimension43="" data-dimension44="0" data-track-onsubmit="addToCart" data-invalid-pop-id="2"
                        novalidate="true">
                        <div role="radiogroup" class="var-w" aria-label="Select Variation" data-fi-w="">
                            <input id="fi-simpleSku-0" class="vi" type="radio" name="simpleSku"
                                value="GE840AA0OH27BNAFAMZ-24209470" required="" data-fi="">
                            <label class="vl" for="fi-simpleSku-0">39</label>
                            <input id="fi-simpleSku-1" class="vi" type="radio" name="simpleSku"
                                value="GE840AA0OH27BNAFAMZ-24209471" required="" data-fi="">
                            <label class="vl" for="fi-simpleSku-1">40</label>
                            <input id="fi-simpleSku-2" class="vi" type="radio" name="simpleSku"
                                value="GE840AA0OH27BNAFAMZ-24209472" required="" data-fi="">
                            <label class="vl" for="fi-simpleSku-2">41</label>
                            <input id="fi-simpleSku-3" class="vi" type="radio" name="simpleSku"
                                value="GE840AA0OH27BNAFAMZ-24209473" required="" data-fi="">
                            <label class="vl" for="fi-simpleSku-3">42</label>
                            <input id="fi-simpleSku-4" class="vi" type="radio" name="simpleSku"
                                value="GE840AA0OH27BNAFAMZ-24209474" required="" data-fi="">
                            <label class="vl" for="fi-simpleSku-4">43</label>
                            <input id="fi-simpleSku-5" class="vi" type="radio" name="simpleSku"
                                value="GE840AA0OH27BNAFAMZ-24209475" required="" data-fi="">
                            <label class="vl" for="fi-simpleSku-5">44</label>
                        </div>
                        <div class="add-to-cart">
                            <button class="cart" data-submit="">
                                <use
                                    xlink:href="https://fortuneswears.herokuapp.com/assets_he/images/i-icons.95f28ca6.svg#add-cart">
                                </use>
                                <span>Add to cart</span>
                            </button>
                        </div>
                        <div class="wishlist">
                            <a href="#" class="action towishlist"
                                data-post="{&quot;action&quot;:&quot;https:\/\/www.fortunesvibez.com\/wishlist\/index\/add\"
                                data-action="add-to-wishlist">
                                <span>Add to Wish List</span>
                            </a>
                        </div>
                        <input name="csrfToken" value="f401ca3ffc61cbe74ed419ff545e98d2" type="hidden">
                    </form>
    
                    <div class="description-attr">
                        <div id="product-description">Product Description</div>
                        <div class="description-wrapper">
                            <ul class="product-attr">
                                <li>
                                    <span class="attr-label">
                                        Release Date </span>
                                    <span class="attr-value">
                                        February 22, 2020
                                    </span>
                                </li>
                                <li>
                                    <span class="attr-label">
                                        Item Code </span>
                                    <span class="attr-value">
                                        FX9028
                                    </span>
                                </li>
                                <li>
                                    <span class="attr-label">
                                        Color </span>
                                    <span class="attr-value">
                                        FLAX
                                    </span>
                                </li>
                                <li>
                                    <span class="attr-label">
                                        Made In </span>
                                    <span class="attr-value">
                                        India
                                    </span>
                                </li>
                            </ul>
                            <div class="product attribute overview">
                                <div class="value" itemprop="description">
                                    <p><span style="color: #a78c57;">Choose the Yeezy Boost if you want more support and comfort. Innovated
                                            by adidas and leading chemical company BASF, the Boost is a revolutionary cushioning system
                                            which "boosts" your speed and energy. <br>Kanye West is here to deliver a new batch of 2020
                                            renditions of the popular lifestyle silhouette. This colorway is an Asia-exclusive one, which
                                            made it even more special. <br></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-images">
                    <div class="images">
                        <div class="mySlides">
                            <img src="images/yeezyasiaflax1.jpg" style="width: 100%;">
                        </div>
    
                        <div class="mySlides">
                            <img src="images/yeezyasiaflax2.jpg" style="width: 100%;">
                        </div>
    
                        <div class="mySlides">
                            <img src="images/yeezyasiaflax3.jpg" style="width: 100%;">
                        </div>
    
                        <div class="mySlides">
                            <img src="images/yeezyasiaflax4.jpg" style="width: 100%;">
                        </div>
    
                        <div class="mySlides">
                            <img src="images/yeezyasiaflax5.jpg" style="width: 100%;">
                        </div>
    
                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>
    
                        <div class="row">
                            <div class="column">
                                <img class="demo cursor" src="images/yeezyasia1.jpg" style="width:100%" onclick="currentSlide(1)">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="images/yeezyasia2.jpg" style="width:100%" onclick="currentSlide(2)">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="images/yeezyasia3.jpg" style="width:100%" onclick="currentSlide(3)">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="images/yeezyasia4.jpg" style="width:100%" onclick="currentSlide(4)">
                            </div>
                            <div class="column">
                                <img class="demo cursor" src="images/yeezyasia5.jpg" style="width:100%" onclick="currentSlide(5)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </section>
    </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <script src="js/main.js"></script>
</body>
</html>