<!DOCTYPE html>
<html>
   <head>

   </head>
   <body>
    <div class="container -mtxxxl -mbxxl">
        <h1>Cart (1 item)</h1>
        <div class="free-shiping-eligible-cart-header"></div>
        <div class="items ft-products-list">
            <div class="header">
                <div class="item">Item</div>
                <div class="quantity">Quantity</div>
                <div class="unit-price">Unit Price</div>
                <div class="subtotal">Subtotal</div>
            </div>
            <form class="product ft-product" action="/cart/updatequantity/" method="POST">
                <div class="ln">
                    <div class="image ft-product-image "><a
                            href="https://www.jumia.co.ke/nivea-men-mens-kinyozi-sensitive-shaving-pack-27736780.html"><img
                                class="lazy image -loaded" width="60" height="60"
                                src="https://ke.jumia.is/9QKwkDYuzMIXKEVflEojF-oI6UA=/fit-in/60x60/filters:fill(white):sharpen(1,0,false):quality(100)/product/08/763772/1.jpg?2105"
                                data-src="https://ke.jumia.is/9QKwkDYuzMIXKEVflEojF-oI6UA=/fit-in/60x60/filters:fill(white):sharpen(1,0,false):quality(100)/product/08/763772/1.jpg?2105"
                                alt="Men's Kinyozi Sensitive Shaving Pack" title="Men's Kinyozi Sensitive Shaving Pack"
                                data-placeholder="placeholder_xs_1.jpg"></a></div>
                    <div class="item">
                        <div class="seller -mbs ft-product-seller " ft-data-seller="">Seller: NIVEA - Authorised Distributor
                        </div><a href="https://www.jumia.co.ke/nivea-men-mens-kinyozi-sensitive-shaving-pack-27736780.html"
                            class="name -mbs -inline-block ft-product-name ">Men's Kinyozi Sensitive Shaving Pack</a> <span
                            class="shop-logo"><span class="osh-icon -jumia-express shop_express--logo"></span> <i
                                class="tooltip-icon osh-font-question"
                                data-popover-content="JUMIA <b>Express</b> offers you:
    - Next day delivery in Nairobi if you order before 2pm
    
    Click <a href=&quot;https://www.jumia.co.ke/jumia-express/&quot; style=&quot;font-weight:bold;&quot;>here</a> to get more details."
                                data-popover="is-shop-first-cms-content" data-popover-arrow="top"></i> </span>
                        <div class="acts"><a
                                href="https://www.jumia.co.ke/ajax/wishlist/movefromcart/?p=NI424ST057U64NAFAMZ&amp;sku=NI424ST057U64NAFAMZ-35170098"
                                class="osh-btn -link -mrxxxl"> <i class=" osh-font-fav-outline"></i> <span
                                    class="label ">Move to Saved Items</span> </a> <a class="osh-btn -link js-remove"
                                href="https://www.jumia.co.ke/cart/remove/?sku=NI424ST057U64NAFAMZ-35170098&amp;keepMessages=true&amp;YII_CSRF_TOKEN=f26e90025aef4c641d0da1eb4a3fce7e91aeecc7"><i
                                    class="osh-font-trash"></i> <span class="label">Remove</span></a></div>
                    </div>
                    <div class="quantity">
                        <div id="NI424ST057U64NAFAMZ-35170098-qty"
                            class="osh-dropdown -select-box ft-product-quantity -default">
                            <div class="toggle">
                                <div class="osh-btn -select-box ft-product-quantity" data-js-event="click"
                                    data-sku="NI424ST057U64NAFAMZ-35170098"
                                    data-js-element="#NI424ST057U64NAFAMZ-35170098-qty" data-js-item-element=".list-item">
                                    <span class="label "></span> <span class="sub-label ">1</span> <i
                                        class="caret osh-font-light-arrow-down"></i> </div>
                            </div>
                            <div class="toggle-content ">
                                <div class="content osh-NI424ST057U64NAFAMZ-35170098-qty-overlay"> <a href="#"
                                        class="list-item -selected">1</a> <a href="#" class="list-item">2</a> <a href="#"
                                        class="list-item">3</a> <a href="#" class="list-item">4</a> <a href="#"
                                        class="list-item">5</a> <a href="#" class="list-item">6</a> </div>
                            </div>
                        </div> <input id="NI424ST057U64NAFAMZ-35170098-qty-selected" type="hidden" value="1"
                            name="quantity"> <input class="js-store" data-js-store="csrf.tokenValue" type="hidden"
                            value="f26e90025aef4c641d0da1eb4a3fce7e91aeecc7" name="YII_CSRF_TOKEN"> <input type="hidden"
                            value="NI424ST057U64NAFAMZ-35170098" name="sku">
                    </div>
                    <div class="unit-price ft-product-unit-price"><span class="current"><span
                                data-currency-iso="KES">KSh</span> <span dir="ltr" data-price="1270">1,270</span> </span>
                    </div>
                    <div class="subtotal ft-product-subtotal-price"><span data-currency-iso="KES">KSh</span> <span dir="ltr"
                            data-price="1270">1,270</span> </div>
                </div>
            </form>
        </div>
        <div class="resume -mtxxl -mbxs">
            <div class="row ft-subtotal"><label>Subtotal:</label>
                <div><span data-currency-iso="KES">KSh</span> <span dir="ltr" data-price="1270">1,270</span> </div>
            </div>
            <div class="row tax"><label>VAT:</label>
                <div><span data-currency-iso="KES">KSh</span> <span dir="ltr" data-price="175.17">175</span> </div>
            </div>
            <div class="row total ft-total"><label>Total:</label>
                <div class="ft-total-panel"><span data-currency-iso="KES">KSh</span> <span dir="ltr"
                        data-price="1270">1,270</span> </div>
            </div>
        </div>
        <div class="shipping -mrxxl -mbm">Shipping fees not included yet</div>
    </div>
   </body>
</html>