<html lang="en">

<head>
    <% include ../helpers/head %>
</head>

<body>
    <!-- The Contact Section -->
    <div class="page-header">
    <% include ../helpers/topnav %>

        <h1>Contact</h1>
    </div>

</body>

</html>