<html lang="en">

<head>
    <title>Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/c5a0d2be63.js" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-12">
                    <div class="btn-group">
                        <button class="btn border dropdown-toggle my-md-4 my-2 text-white" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">KSH</button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">USD</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 text-center">
                    <h2 class="my-md-3 site-title text-white">FortunesWear</h2>
                </div>
                <div class="col-md-4 col-12 text-right">
                    <p class="my-md-4 header-links">
                        <i class="fas fa-user"></i>
                        <a href="/login" class="px-2">Sign In</a>
                        <a href="/register" class="px-1">Create An Account</a>
                    </p>
                </div>
            </div>
        </div>
    
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/new-arrival">NEW ARRIVAL</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                JEWELRY
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/men-jewelry">Men's Jewelry</a>
                                <a class="dropdown-item" href="/women-jewelry">Women's Jewelry</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SHOES
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/men-shoes">Men's Shoes</a>
                                <a class="dropdown-item" href="/women-shoes">Women's Shoes</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                MY ACCOUNT
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/login">LOGIN</a>
                                <a class="dropdown-item" href="/register">REGISTER</a>
                                <a class="dropdown-item" href="/shop">SHOP</a>
                                <a class="dropdown-item" href="/cart">CART</a>
                                <a class="dropdown-item" href="/logout">LOGOUT</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">CONTACT US</a>
                        </li>
                    </ul>
                </div>
    
                <div class="navbar-nav">
                    <li class="nav-item border rounded-circle mx-2 search-icon">
                        <i class="fas fa-search p-2"></i>
                    </li>
                    <li class="nav-item border rounded-circle mx-2 shopping-cart-icon">
                        <i class="fas fa-shopping-cart p-2"></i>
                    </li>
                </div>
            </nav>
        </div>
    </header>
    <!-- /Header -->

    <!-- Top menu on small screens -->
    <header>
        <div class="nav-small">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/login">Login/Register</a>
                <hr>
                <a href="/">Home</a>
                <a href="/new-arrival">New Arrival</a>
                <a href="/men-shoes">Men Shoes</a>
                <a href="/women-shoes">Women Shoes</a>
                <a href="/men-jewelry">Men Jewelry</a>
                <a href="/women-jewelry">Women Jewelry</a>
                <a href="/blog">Blog</a>
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
            </div>
            <div class="sidebar">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
                <div class="side">
                    <span class="highlight">Fortunes</span>Wear
                </div>
            </div>
        </div>
    </header>

    <div class="contact-title">
        <h1>
            <span>Contact Us</span>
        </h1>
    </div>

    <div class="contact-wrapper">
        <div class="contact-form">
            <div class="form-contact">
                <form action="/action_page.php">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Your name..">

                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Enter email" name="email">
            
                    <label for="subject">What's on your mind</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        <div class="office-contact">
            <div class="contact-office">
                <h4>Our Store</h4>
                <p class="contact-shop" style="padding-left: 0px;"><i class="fas fa-store"
                    style="font-size: 16px; color: #676767;"></i>&nbsp;&nbsp; FortunesWear Store</p>
                <p class="contact-phone"><i class="fas fa-phone-alt"></i> 0702425821&nbsp;&nbsp;&nbsp;<a href="https://api.whatsapp.com/send?phone=+254702425821"
                    target="_blank"><i class="fab fa-whatsapp-square" style="font-size: 18px; color: #00e676;"></i></a></p>
                <p class="contact-address"><i class="fas fa-map-marker-alt"></i> Gala Place, Shop 1621-22, Moi Avenue<br> Mombasa, Kenya</p>
                <br>
                <h4>Our Office</h4>
                <p style="padding-left: 0px;"><i class="fas fa-building" style="font-size: 16px; color: #676767;"></i>&nbsp;&nbsp;&nbsp;
                    FortunesWear Company Limited</p>
                <p class="contact-email"><i class="fas fa-envelope"></i>cs@fortuneswear.com</p>
                <p class="contact-phone"><i class="fas fa-phone-alt"></i>0702425821</p>
                <p class="contact-address"><i class="fas fa-map-marker-alt"></i>Flat D, 13/F, Southeast Industrial Building,
                <br> 
                611-619 Castle Peak Road, Digo Road, 
                <br>
                Mombasa, Kenya</p>
            </div>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>