<html lang="en">

<head>
	<% include ../helpers/head %>
</head>

<body>
	<% include ../helpers/navbar %>
<div class="container">
	<img src="images/sneakers.jpg" style="width:100%;"/>
</div>
	
</body>

</html>