<!DOCTYPE html>
<html>

<head>
	<title>FortunesWear</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
</head>

<body>

	<div class="navbar">
		<span class="navbar-brand">FortunesWear</span>
		<a href="/contact">CONTACT</a>
		<a href="/about">ABOUT</a>
		<div class="dropdown">
			<button class="dropbtn">MY ACCOUNT
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/register">REGISTER</a>
				<a href="/login">LOGIN</a>
				<a href="/cart">CART</a>
				<a href="/shop">SHOP</a>
				<a href="/logout">LOGOUT</a>
			</div>
		</div>
		<a href="/blog">BLOG</a>
		<a href="/women">WOMEN</a>
		<a href="/men">MEN</a>
		<a href="/">HOME</a>
	</div>

	<section id="showcase">
		<div class="container">
			<h1>Latest collection</h1>
		</div>
	</section>

	<section id="display-products">
		<div class="product">
			<img src="images/nikeairjordan.jpg" width="100%" />
			<div class="product-name">Nike Air Jordan</div>
		</div>
		<div class="product">
			<img src="images/nike.jpg" width="100%" />
			<div class="product-name">Nike</div>
		</div>
		<div class="product">
			<img src="images/yeezy.jpg" width="100%" />
			<div class="product-name">Adidas Yeezy</div>
		</div>
	</section>

	<div class="clr"></div>

	<section id="home-new-arrival">
		<h3>New Arrivals</h3>
		<div class="new-arrival-products">
			<div class="product-item">
				<img src="images/NikeAirjordan3Retro.jpg"/>
				<div class="item-name">Nike Air Jordan 3 Retro</div>
				<span class="price"><b>Ksh.4000</b></span>
			</div>
			<div class="product-item">
				<img src="images/NikeAirJordan4Retro.jpg" />
				<div class="item-name">Nike Air Jordan 4 Retro</div>
				<span class="price"><b>Ksh.4000</b></span>
			</div>
			<div class="product-item">
				<img src="images/NikeAirJordan5Retro.jpg" />
				<div class="item-name">Nike Air Jordan 5 Retro</div>
				<span class="price"><b>Ksh.4000</b></span>
			</div>
			<div class="product-item">
				<img src="images/NikeAirJordan6Retro.jpg" />
				<div class="item-name">Nike Air Jordan 6 Retro</div>
				<span class="price"><b>Ksh.4000</b></span>
			</div>
			<div class="product-item">
				<img src="images/adidasYeezyBoost350.jpg" />
				<div class="item-name">Adidias Yeezy Boost 350</div>
				<span class="price"><b>Ksh.3000</b></span>
			</div>
			<div class="product-item">
				<img src="images/adidasYeezyBoost350Asia.jpg" />
				<div class="item-name">Adidias Yeezy Boost 350 Asia</div>
				<span class="price"><b>Ksh.3000</b></span>
			</div>
			<div class="product-item">
				<img src="images/adidasYeezyBoost350d.jpg" />
				<div class="item-name">Adidias Yeezy Boost 350 Desert</div>
				<span class="price"><b>Ksh.3000</b></span>
			</div>
		</div>
	</section>

	<div class="clr"></div>

	<section class="footer">
		<div class="container">
			<div class="box">
				<h4>NEWSLETTER</h4>
				<p>GET a coupon of 20% by subscribing to our newsletter. It's easy, just enter your e-mail below</p>
				<form>
					<input type="email" placeholder="email address">
					<button type="submit" class="button">subscribe</button>
				</form>
			</div>
			<div class="box">
				<h4>About Us</h4>
				<p>We are all about the trendy, elegant, fun and fashion-conscious you. We are the most preferred online clothing retail
				outlet for the modern man. Our indulgence with fashionable clothing began in November 2015, and over the years we have
				expanded to the online retail scene because we realized there was something missing in that sector, to cope with the
				demands of the modern man and to widen the scope of elegant people whose needs we felt we could meet.</p>
			</div>
			<div class="box">
				<h4>QUICK LINKS</h4>
				<ul>
					<li><a href="/home">Home</a></li>
					<li><a href="/home">Shop</a></li>
					<li><a href="/home">About Us</a></li>
					<li><a href="/home">Contact</a></li>
					<li><a href="/home">Blog</a></li>
					<br>
					<h4>STORE</h4>
					<li><i class="fa fa-fw fa-map-marker"></i>FortunesWear</li>
					<li><i class="fa fa-fw fa-phone"></i>0702425821</li>
					<li><i class="fa fa-fw fa-envelope"></i>fortuneniguel@gmail></li>
				</ul>
			</div>
			<div class="box">
				<h4>SUPPORT</h4>
				<ul>
					<li><a href="/return policy">Return Policy</a></li>
					<li><a href="/return policy">Payment Policy</a></li>
					<li><a href="/return policy">Shipping Policy</a></li>
					<br>
					<h4>We accept</h4>
					<li><i class="fa fa-fw fa-cc-amex">Amex</i></li>
					<li><i class="fa fa-fw fa-credit-card">Credit Card</i></li>
					<br>
					<i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
					<i class="fa fa-instagram w3-hover-opacity w3-large"></i>
					<i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
					<i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
					<i class="fa fa-twitter w3-hover-opacity w3-large"></i>
					<i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
				</ul>
			</div>
		</div>
	</section>
</body>

</html>