<!DOCTYPE html>
<html>

<head>
	<title>FortunesWear</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
</head>

<body>

	<div class="navbar">
		<span class="navbar-brand">FortunesWear</span>
		<a href="/contact">CONTACT</a>
		<a href="/about">ABOUT</a>
		<div class="dropdown">
			<button class="dropbtn">MY ACCOUNT
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/register">REGISTER</a>
				<a href="/login">LOGIN</a>
				<a href="/cart">CART</a>
				<a href="/shop">SHOP</a>
				<a href="/logout">LOGOUT</a>
			</div>
		</div>
		<a href="/blog">BLOG</a>
		<a href="/women">WOMEN</a>
		<a href="/men">MEN</a>
		<a href="/">HOME</a>
	</div>

	<section id="showcase">
		<div class="container">
			<h1>Latest collection</h1>
		</div>
	</section>

	<section id="display-products">
		<div class="polaroid">
			<img src="images/nikeairjordan.jpg" width="100%"/>
			<div class="product-name">Nike Air Jordan</div>
		</div>
		<div class="polaroid">
			<img src="images/nike.jpg" width="100%"/>
			<div class="product-name">Nike</div>
		</div><div class="polaroid">
			<img src="images/yeezy.jpg" width="100%"/>
			<div class="product-name">Yeezy</div>
		</div>
	</section>

	<div class="clr"></div>

	<section id="home-new-arrival">
		<h4>New Arrivals</h4>
		<div class="new-products">
			<div class="product-item">
			    <img src="images/adidasYeezyBoost350.jpg" class="image" style="width:100%">
			    <div class="item-name">Adidas YeezyBoost350</div>
			    <div class="price">Ksh.4000</div>
			</div>
			<div class="product-item">
				<img src="images/adidasYeezyBoost350Asia.jpg" class="image" style="width:100%">
				<div class="item-name">Adidas YeezyBoost350 Asia</div>
				<div class="price">Ksh.4000</div>
			</div>
			<div class="product-item">
				<img src="images/adidasYeezyBoost350d.jpg" class="image" style="width:100%">
				<div class="item-name">Adidas YeezyBoost350 Desert</div>
				<div class="price">Ksh.4000</div>
			</div>
			<div class="product-item">
				<img src="images/NikeAirjordan3Retro.jpg" class="image" style="width:100%">
				<div class="item-name">Nike AirJordan 3 Retro</div>
				<div class="price">Ksh.4000</div>
			</div>
			<div class="product-item">
				<img src="images/NikeAirJordan4Retro.jpg" class="image" style="width:100%">
     			<div class="item-name">Nike AirJordan 4 Retro</div>
				<div class="price">Ksh.4000</div>
			</div>
			<div class="product-item">
				<img src="images/NikeAirJordan5Retro.jpg" class="image" style="width:100%">
				<div class="item-name">Nike AirJordan 5 Retro</div>
				<div class="price">Ksh.4000</div>
			</div>
			<div class="product-item">
				<img src="images/NikeAirJordan6Retro.jpg" class="image" style="width:100%">
				<div class="item-name">Nike AirJordan 6 Retro</div>
				<div class="price">Ksh.4000</div>
			</div>
			<div class="product-item">
				<img src="images/NikeLDWaffleBlack.jpg" class="image" style="width:100%">
				<div class="item-name">Nike LDWafffle Black</div>
				<div class="price">Ksh.4000</div>
			</div>
			<div class="product-item">
				<img src="images/NikeLDWaffleWhite.jpg" class="image" style="width:100%">
				<div class="item-name">Nike LDWafffle White</div>
				<div class="price">Ksh.4000</div>
			</div>
		</div>
	</section>

	<div class="clr"></div>

	<section class="boxes">
		<div class="box">
			<h5>NEWSLETTER</h5>
			<p>GET a coupon of 20% by subscribing to our newsletter. It's easy, just enter your e-mail below: SUBSCRIBE</p>
			<form>
				<input type="email" placeholder="email address">
				<button type="submit" class="button">subscribe</button>
			</form>
		</div>
		<div class="box">
			<h5>ABOUT US</h5>
			<p>We are all about the trendy, elegant, fun and fashion-conscious you. We are the most preferred online clothing retail
				outlet for the modern man. Our indulgence with fashionable clothing began in November 2019, and over the years we have
				expanded to the online retail scene because we realized there was something missing in that sector, to cope with the
				demands of the modern man and to widen the scope of elegant people whose needs we felt we could meet.</p>
		</div>
		<div class="box">
			<h5>QUICK LINKS</h5>
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/home">Shop</a></li>
				<li><a href="/home">About Us</a></li>
				<li><a href="/home">Contact</a></li>
				<li><a href="/home">Blog</a></li>
				<br>
				<h4>STORE</h4>
				<li><i class="fa fa-fw fa-map-marker"></i>FortunesWear</li>
				<li><i class="fa fa-fw fa-phone"></i>0702425821</li>
				<li><i class="fa fa-fw fa-envelope"></i>fortuneniguel@gmail.com</li>
			</ul>
		</div>
		<div class="box">
			<h5>SUPPORT</h5>
			<ul>
				<li><a href="/return policy">Return Policy</a></li>
				<li><a href="/return policy">Payment Policy</a></li>
				<li><a href="/return policy">Shipping Policy</a></li>
				<br>
				<h5>We accept</h5>
				<li><i class="fa fa-fw fa-cc-amex">Amex</i></li>
				<li><i class="fa fa-fw fa-credit-card">Credit Card</i></li>
				<br>
				<i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
				<i class="fa fa-instagram w3-hover-opacity w3-large"></i>
				<i class="fa fa-twitter w3-hover-opacity w3-large"></i>
				<i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
			</ul>
		</div>
	</section>

	<div class="clr"></div>

	<footer>
		<p>FortunesWear.com. copyright &copy;2020 All Rights Reserved</p>
	</footer>
</body>

</html>