<!DOCTYPE html>
<html>

<head>
	<title>FortunesWear</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
</head>

<body>

	<div class="navbar">
		<span class="navbar-brand">FortunesWear</span>
		<a href="/contact">CONTACT</a>
		<a href="/about">ABOUT</a>
		<div class="dropdown">
			<button class="dropbtn">MY ACCOUNT
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/register">REGISTER</a>
				<a href="/login">LOGIN</a>
				<a href="/cart">CART</a>
				<a href="/shop">SHOP</a>
				<a href="/logout">LOGOUT</a>
			</div>
		</div>
		<a href="/blog">BLOG</a>
		<a href="/women">WOMEN</a>
		<a href="/men">MEN</a>
		<a href="/">HOME</a>
	</div>

	<section id="showcase">
		<div class="container">
			<h1>New Arrivals</h1>
			<h1>Latest Collections</h1>
		</div>
	</section>	

	<div class="display-products">
		<ul>
			<li class="item"><a href="https://www.kickscrew.com/air-jordan.html"> <img
						src="images/nikeairjordan.jpg" width="614"
						height="454"/></a>
				<div class="product-info">
					<div class="product-name">Nike Air Jordan</div>
					<a href="https://www.kickscrew.com/air-jordan.html"> <span>SHOP NOW</span> </a>
				</div>
			</li>
			<li class="item"><a href="https://www.kickscrew.com/nike.html"> <img
						src="images/nike.jpg" width="614"
						height="454"/> </a>
				<div class="product-info">
					<div class="product-name">Nike&nbsp;</div>
					<a href="https://www.kickscrew.com/air-jordan.html"> </a><a
						href="https://www.kickscrew.com/nike.html"><span>SHOP NOW</span></a>
				</div>
			</li>
			<li class="item"><a href="https://www.kickscrew.com/adidas/yeezy.html"> <img
						src="images/yeezy.jpg" width="614"
						height="454"/> </a>
				<div class="product-info">
					<div class="product-name">ADIDAS YEEZY</div>
					<span><a href="https://www.kickscrew.com/adidas/yeezy.html">SHOP NOW</a></span>
				</div>
			</li>
		</ul>
	</div>

	<div class="clr"></div>
</body>

</html>