<!DOCTYPE html>
<html>

<head>
	<title>FortunesWear</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<!-- Top menu on large screens -->
	<div class="navbar">
		<div class="container">
			<div class="navbar-brand"><span class="highlight">Fortunes</span>Wear</div>
			<ul class="nav-list">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/men">Men</a>
				</li>
				<li>
					<a href="/women">Women</a>
				</li>
				<li>
					<a href="/blog">Blog</a>
				</li>
				<li>
					<div class="dropdown">
						<button class="dropbtn">MY ACCOUNT
							<i class="fa fa-caret-down"></i>
						</button>
						<div class="dropdown-content">
							<a href="/register">REGISTER</a>
							<a href="/login">LOGIN</a>
							<a href="/cart">CART</a>
							<a href="/shop">SHOP</a>
							<a href="/logout">LOGOUT</a>
						</div>
					</div>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/contact">Contact Us</a>
				</li>
			</ul>
		</div>
	</div>

	<!-- Top menu on small screens -->
	<header>
		<div class="nav-small">
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a href="/">Home</a>
				<a href="/men">Men</a>
				<a href="/women">Women</a>
				<a href="/new-arrivals">New Arrivals</a>
				<a href="/blog">Blog</a>
				<a href="/about">About</a>
				<a href="/contact">Contact Us</a>
			</div>
			<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; <span class="highlight">Fortunes</span>Wear</span>
		</div>
	</header>

	<section id="showcase">
		<div class="container">
			<h1>Latest collection</h1>
		</div>
	</section>

	<section id="display-products">
		<div class="polaroid">
			<img src="images/nikeairjordan.jpg" width="100%"/>
			<div class="product-name">Nike Air Jordan</div>
		</div>
		<div class="polaroid">
			<img src="images/nike.jpg" width="100%"/>
			<div class="product-name">Nike</div>
		</div><div class="polaroid">
			<img src="images/yeezy.jpg" width="100%"/>
			<div class="product-name">Adidas Yeezy</div>
		</div>
	</section>

	<div class="clr"></div>

	<section id="home-new-arrival">
		<div class="container">
			<h4>New Arrivals</h4>
			<div class="new-products">
				<div class="product-item">
					<img src="images/adidasYeezyBoost350.jpg" class="image" style="width:100%">
					<div class="item-name">Adidas YeezyBoost350</div>
					<div class="price">Ksh.4000</div>
				</div>
				<div class="product-item">
					<img src="images/adidasYeezyBoost350Asia.jpg" class="image" style="width:100%">
					<div class="item-name">Adidas YeezyBoost350 Asia</div>
					<div class="price">Ksh.4000</div>
				</div>
				<div class="product-item">
					<img src="images/adidasYeezyBoost350d.jpg" class="image" style="width:100%">
					<div class="item-name">Adidas YeezyBoost350 Desert</div>
					<div class="price">Ksh.4000</div>
				</div>
				<div class="product-item">
					<img src="images/NikeAirJordan4Retro.jpg" class="image" style="width:100%">
					<div class="item-name">Nike AirJordan 4 Retro</div>
					<div class="price">Ksh.4000</div>
				</div>
				<div class="product-item">
					<img src="images/NikeAirJordan5Retro.jpg" class="image" style="width:100%">
					<div class="item-name">Nike AirJordan 5 Retro</div>
					<div class="price">Ksh.4000</div>
				</div>
				<div class="product-item">
					<img src="images/NikeAirJordan6Retro.jpg" class="image" style="width:100%">
					<div class="item-name">Nike AirJordan 6 Retro</div>
					<div class="price">Ksh.4000</div>
				</div>
				<div class="product-item">
					<img src="images/NikeLDWaffleBlack.jpg" class="image" style="width:100%">
					<div class="item-name">Nike LDWafffle Black</div>
					<div class="price">Ksh.4000</div>
				</div>
				<div class="product-item">
					<img src="images/NikeLDWaffleWhite.jpg" class="image" style="width:100%">
					<div class="item-name">Nike LDWafffle White</div>
					<div class="price">Ksh.4000</div>
				</div>
			</div>
			<button style="text-align: center"><a href="/new-arrivals"></a>Show More</button>
			<a class="button" href="/new-arrivals">Show More</a>
		</div>
	</section>

	<div class="clr"></div>

	<section id="newsletter">
		<div class="container">
			<h2>Subscribe To our Newsletter</h2>
			<form>
				<input type="email" placeholder="Enter Email">
				<button type="submit" class="button1">Subscribe</button>
			</form>
		</div>
	</section>

	<div class="clr"></div>

	<section class="boxes">
		<div class="box">
			<h5>ABOUT US</h5>
			<p>We are all about the trendy, elegant, fun and fashion-conscious you. We are the most preferred online clothing retail
			   outlet for the modern man. Our indulgence with fashionable clothing began in November 2019, and over the years we have
			   expanded to the online retail scene because we realized there was something missing in that sector, to cope with the
			   demands of the modern man and to widen the scope of elegant people whose needs we felt we could meet.</p>
		</div>
		<div class="box">
			<h5>QUICK LINKS</h5>
			<ul>
				<li><a href="/shop">Shop</a></li>
				<li><a href="/about">About Us</a></li>
				<li><a href="/contact">Contact Us</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/vouchers">Gift Vouchers</a></li>
				<li><a href="/blackfriday">Black Friday</a></li>
				<br>
				<h5>STORE</h5>
				<li><i class="fa fa-fw fa-map-marker"></i>FortunesWear</li>
				<li><i class="fa fa-fw fa-phone"></i>0702425821</li>
				<li><i class="fa fa-fw fa-envelope"></i>fortuneniguel@gmail.com</li>
			</ul>
		</div>
		<div class="box">
			<h5>Payment Methods:</h5>
			<ul>
				<li><i class='fas fa-mobile-alt'>Mpesa</i></li>
				<li><i class="fa fa-fw fa-credit-card">CreditCard</i></li>
				<br>
				<h5>SUPPORT</h5>
				<li><a href="/return-policy">Return Policy</a></li>
				<li><a href="/payment-policy">Payment Policy</a></li>
				<li><a href="/shipping-policy">Shipping Policy</a></li>
				<li><a href="/terms-conditions">Terms & Conditions</a></li>
				<br>
				<li class="sm"> <a href="https://www.facebook.com/fortuneniguel" target="_blank" class="icon-social-facebook"
					rel="noopener noreferrer"><i class="fa fa-facebook"></i></a> </li>
				<li class="sm"><a href="https://twitter.com/fortune_whizz" target="_blank" class="icon-social-twitter" 
					rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
				<li class="sm"><a href="https://www.linkedin.com/fortunemwagmbo" target="_blank" class="icon-social-linkedin"
					rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a></li>
				<li class="sm"><a href="https://www.instagram.com/fortune.whizz" target="_blank" class="icon-social-instagram"
					rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</div>
	</section>

	<div class="clr"></div>

	<footer>
		<p>FortunesWear.com. copyright &copy;2020 All Rights Reserved</p>
	</footer>

	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
	</script>
</body>

</html>