<! DOCTYPE HTML>
<html>
<head>
	<title>Twilight Photography</title>
	<link rel="stylesheet" type="text/css" href=" style.css">
</head>
<body>
	<nav class="nav">
		<ul class="nav">
			<li class="nav-item"><a href="INDEX.HTML">HOME</a></li>
			<li class="nav-item"><a href="services.html">SERVICES</a></li>
            <li class="nav-item"><a href="contact us.html">CONTACT US </a></li>
			<li class="nav-item"><a href="about us.html">ABOUT US</a></li>
			
			<li class="nav-item"><a href="gallery.html">GALLERY  </a></li>
			<li class="nav-item"><a href="blog.html">BLOG</a></li>
		</ul>
		
	</nav>
	<div class="page-header">

		<h1>TWILIGHT PRODUCTION</h1>
	</div>
 
	</body>
	</html> 

