<!DOCTYPE html>
<html>

<head>
	<title>FortunesWear</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
</head>

<body>

	<div class="navbar">
		<span class="navbar-brand">FortunesWear</span>
		<a href="/contact">CONTACT</a>
		<a href="/about">ABOUT</a>
		<div class="dropdown">
			<button class="dropbtn">MY ACCOUNT
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/register">REGISTER</a>
				<a href="/login">LOGIN</a>
				<a href="/cart">CART</a>
				<a href="/shop">SHOP</a>
				<a href="/logout">LOGOUT</a>
			</div>
		</div>
		<a href="/blog">BLOG</a>
		<a href="/women">WOMEN</a>
		<a href="/men">MEN</a>
		<a href="/">HOME</a>
	</div>

	<section id="showcase">
		<div class="container">
			<h1>New Arrivals</h1>
			<h1>Latest Collections</h1>
		</div>
	</section>

		<div class="block">
			<h4>Contact</h4>
			<p>Questions? Go ahead.</p>
			<form action="/action_page.php" target="_blank">
				<p><input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required></p>
				<p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>
				<p><input class="w3-input w3-border" type="text" placeholder="Subject" name="Subject" required></p>
				<p><input class="w3-input w3-border" type="text" placeholder="Message" name="Message" required></p>
				<button type="submit" class="w3-button w3-block w3-black">Send</button>
			</form>
		</div>
	
		<div class="block">
			<h3>About</h3>
			<p><a href="/">About us</a></p>
		</div>
	
		<div class="block">
			<h3>Store</h3>
			<p><i class="fa fa-fw fa-map-marker"></i> FortunesWear</p>
			<p><i class="fa fa-fw fa-phone"></i> 0702425821</p>
			<p><i class="fa fa-fw fa-envelope"></i> fortuneniguel@mail.com</p>
			<h3>We accept</h3>
			<p><i class="fa fa-fw fa-cc-amex"></i> Mpesa</p>
			<p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
			<br>
			<i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
			<i class="fa fa-instagram w3-hover-opacity w3-large"></i>
			<i class="fa fa-twitter w3-hover-opacity w3-large"></i>
			<i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
		</div>

		<div class="block">
			<h3>Quick Links</h3>
			<p><a href="/shop">Shop</a></p>
			<p><a href="/men">Men</a></p>
			<p><a href="/women">Women</a></p>
			<p><a href="/blog">Blog</a></p>
			<p><a href="/about">About</a></p>
		</div>

	<div class="clr"></div>

	<div class="w3-black w3-center w3-padding-22">© Copyright 2020 FortunesWear.com. All rights reserved.</div>
</body>

</html>