<!DOCTYPE html>
<html>
<head>
	<title>Online Shopping for Jewelry and FootWear in Kenya | FortunesVibez</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
	<script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ecommerce.js"></script>
	<script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script>
	<script src="https://kit.fontawesome.com/c5a0d2be63.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<!-- Header -->
	<header class="header">
		<div class="container" id="top-header">
			<div class="row">
				<div class="col-md-4 col-sm-12 col-12">
					<div class="btn-group">
						<button class="btn border dropdown-toggle my-md-4 my-2 text-white" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">KSH</button>
						<div class="dropdown-menu">
							<a href="#" class="dropdown-item">USD</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-12 text-center">
					<h2 class="my-md-3 site-title">FortunesVibez</h2>
				</div>
				<div class="col-md-4 col-12 text-right">
					<p class="my-md-4 header-links">
						<i class="fas fa-user"></i>
						<a href="/customer/account/login" class="px-2">Sign In</a>
						<a href="/create" class="px-1">Create An Account</a>
					</p>
				</div>
			</div>
		</div>

		<div class="container-fluid p-0">
			<nav class="navbar navbar-expand-md navbar-light bg-white">
				<div class="navbar-collapse collapse show" id="navbarCollapse">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/new-arrival">NEW ARRIVAL</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								JEWELRY
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/men-jewelry">Men's Jewelry</a>
								<a class="dropdown-item" href="/women-jewelry">Women's Jewelry</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								SHOES
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/men-shoes">Men's Shoes</a>
								<a class="dropdown-item" href="/women-shoes">Women's Shoes</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								MY ACCOUNT
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/login">LOGIN</a>
								<a class="dropdown-item" href="/register">REGISTER</a>
								<a class="dropdown-item" href="/shop">SHOP</a>
								<a class="dropdown-item" href="/cart">CART</a>
								<a class="dropdown-item" onclick="logout()">LOGOUT</a>
								<a class="dropdown-item" href="/customer">ACTIVATE</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/blog">BLOG</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">ABOUT US</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/contact">CONTACT US</a>
						</li>
					</ul>
				</div>

				<div class="navbar-nav">
					<li class="nav-item border rounded-circle mx-2 search-icon">
						<a href="#">
							<i class="fas fa-search p-2"></i>
						</a>
					</li>
					<li class="nav-item border rounded-circle mx-2 shopping-cart-icon">
						<a href="/cart">
							<i class="fas fa-shopping-cart p-2"></i>
						</a>
					</li>
				</div>
			</nav>
		</div>
	</header>

	<!-- Top menu on small screens -->
	<header class="mobile-header">
		<div class="container">
			<span style="font-size:30px;cursor:pointer" class="nav-toggle" onclick="openNav()">&#9776; </span>
			<div class="header-content">
				<div class="site-title">FortunesVibez</div>
			</div>
		</div>
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div id="mySidenav" class="sidenav" data-role="content" role="tabpanel" aria-hidden="false">
			<nav class="navigation" data-action="navigation">
				<div class="mobile-login-register">
					<a href="https://fortunesvibez.herokuapp.com/customer/account/login/">Login/Register</a>
				</div>
				<div class="menu-scroller-arrow scroller-arrow-prev"></div>
				<div class="menu-scroller-wrapp">
					<ul id="ui-id-2" class="ui-menu" role="menu" tabindex="0" style="position: absolute;">
						<li class="level0 nav-1 level-top ui-menu-item" role="presentation">
							<a href="https://fortunesvibez.herokuapp.com/new-arrival/" class="level-top ui-corner-all"
								id="ui-id-11" tabindex="-1" role="menuitem">
								<span>New Arrival</span>
							</a>
						</li>
						<li class="level0 nav-2 level-top ui-menu-item" role="presentation">
							<a href="https://fortunesvibez.herokuapp.com/hot-items/" class="level-top ui-corner-all"
								id="ui-id-11" tabindex="-1" role="menuitem">
								<span>Hot Item</span>
							</a>
						</li>
						<li class="level0 nav-3 first level-top parent ui-menu-item" role="presentation">
							<a href="https://fortunesvibez.herokuapp.com/shoes/" class="level-top ui-corner-all" id="ui-id-2"
								tabindex="-1" role="menuitem">
								<span>Fine FootWear</span>
							</a>
							<span class="menu_switch"></span>
							<div class="menu-level1-wrapper">
								<ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu"
									aria-hidden="true" aria-expanded="false" style="display: none;">
									<li class="level1 nav-1-1 first ui-menu-item" role="presentation">
										<a href="https://fortunesvibez.herokuapp.com/men-shoes/" id="ui-id-15"
											class="ui-corner-all" tabindex="-1" role="menuitem">
											<span>Male FootWear</span>
										</a>
									</li>
									<li class="level1 nav-1-2 ui-menu-item" role="presentation">
										<a href="https://fortunesvibez.herokuapp.com/women-shoes/" id="ui-id-16"
											class="ui-corner-all" tabindex="-1" role="menuitem">
											<span>Female FootWear</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="level0 nav-4 first level-top parent ui-menu-item" role="presentation">
							<a href="https://fortunesvibez.herokuapp.com/jewelry/" class="level-top ui-corner-all" id="ui-id-2"
								tabindex="-1" role="menuitem">
								<span>Fine Jewelry</span>
							</a>
							<span class="menu_switch"></span>
							<div class="menu-level1-wrapper">
								<ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu"
									aria-hidden="true" aria-expanded="false" style="display: none;">
									<li class="level1 nav-1-1 first ui-menu-item" role="presentation">
										<a href="https://fortunesvibez.herokuapp.com/men-jewelry/" id="ui-id-15"
											class="ui-corner-all" tabindex="-1" role="menuitem">
											<span>Men's Jewelry</span>
										</a>
									</li>
									<li class="level1 nav-1-2 ui-menu-item" role="presentation">
										<a href="https://fortunesvibez.herokuapp.com/women-jewelry/" id="ui-id-16"
											class="ui-corner-all" tabindex="-1" role="menuitem">
											<span>Women's Jewelry</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="level0 mobile-blog ui-menu-item" role="presentation">
							<a href="https://fortunesvibez.herokuapp.com/blog/" class="level-top ui-corner-all" id="ui-id-14"
								tabindex="-1" role="menuitem">
								<span>Blog</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="mobile-shipping">
					<a href="https://fortunesvibez.herokuapp.com/shipping-policy/">Shipping Policy</a>
				</div>
				<div class="mobile-about-us">
					<a href="https://fortunesvibez.herokuapp.com/about/">About Us</a>
				</div>
				<div class="mobile-contact-us">
					<a href="https://fortunesvibez.herokuapp.com/contact/">Contact Us</a>
				</div>
			</nav>
		</div>
	</header>

	<section id="showcase">
		<div class="showcase-info">
			<h1>All Time Finest</h1>
			<p>Street Wear</p>
			<a href="/"><button>Shop Now</button></a>
		</div>
	</section>

	<section id="display-products">
		<div class="polaroid">
			<a href="/adidas">
				<img src="images/nikeairjordan.jpg" width="100%" />
				<div class="product-name">Nike Air Jordan</div>
			</a>
		</div>
		<div class="polaroid">
			<a href="/nike">
				<img src="images/nike.jpg" width="100%" />
				<div class="product-name">Nike</div>
			</a>
		</div>
		<div class="polaroid">
			<a href="/yeezy">
				<img src="images/yeezy.jpg" width="100%" />
				<div class="product-name">Adidas Yeezy</div>
			</a>
		</div>
	</section>

	<div class="home-new-arrival">
		<h4>New Arrival</h4>
		<ol class="new-arrival-product">
			<li class="item">
				<a class="item-box" href="/adidas-yeezy-boost-350">
					<img class="item-image"
						src="images/adidasYeezyBoost350.jpg">
					<div class="item-info">
						<div class="item-name">adidas Yeezy Boost 350 V2</div>
						<div class="item-color">cinder</div>
						<div class="item-price">
							<span class="price">Ksh.3000</span>
						</div>
					</div>
				</a>
			</li>
			<li class="item">
				<a class="item-box" href="/adidas-yeezy-boost-350-asia">
					<img class="item-image"
					    src="images/adidasYeezyBoost350Asia.jpg">
					<div class="item-info">
						<div class="item-name">adidas Yeezy Boost 350 V2</div>
						<div class="item-color">Asia-Flax</div>
						<div class="item-price">
							<span class="price">Ksh.3000</span>
						</div>
					</div>
				</a>
			</li>
			<li class="item">
				<a class="item-box" href="/adidas-yeezy-boost-350-desert">
					<img class="item-image"
						src="images/adidasYeezyBoost350d.jpg">
					<div class="item-info">
						<div class="item-name">adidas Yeezy Boost 350 V2</div>
						<div class="item-color">Desert Sage</div>
						<div class="item-price">
							<span class="price">Ksh.3000</span>
						</div>
					</div>
				</a>
			</li>
			<li class="item">
				<a class="item-box" href="/nike-air-jordan-4-retro">
					<img class="item-image"
						src="images/NikeAirJordan4Retro.jpg">
					<div class="item-info">
						<div class="item-name">Nike Air Jordan 4 Retro SE</div>
						<div class="item-color">Neon</div>
						<div class="item-price">
							<span class="price">Ksh.4000</span>
						</div>
					</div>
				</a>
			</li>
			<li class="item">
				<a class="item-box" href="/nike-air-jordan-5-retro">
					<img class="item-image"
						src="images/NikeAirJordan5Retro.jpg">
					<div class="item-info">
						<div class="item-name">Nike Air Jordan 5 Retro SE</div>
						<div class="item-color">White</div>
						<div class="item-price">
						    <span class="price">Ksh.4000</span>
						</div>
					</div>
				</a>
			</li>
			<li class="item">
				<a class="item-box" href="/nike-air-jordan-6-retro">
					<img class="item-image"
						src="images/NikeAirJordan6Retro.jpg">
					<div class="item-info">
						<div class="item-name">Nike Air Jordan 6 SE</div>
						<div class="item-color">Black</div>
						<div class="item-price">
							<span class="price">Ksh.4000</span>
						</div>
					</div>
				</a>
			</li>
			<li class="item">
				<a class="item-box" href="/nike-air-jordan-13">
					<img class="item-image"
						src="images/Air13.jpg">
					<div class="item-info">
						<div class="item-name">Nike Air Jordan 13 Retro</div>
						<div class="item-color">Flint</div>
						<div class="item-price">
							<span class="price">Ksh.4000</span>
						</div>
					</div>
				</a>
			</li>
			<li class="item">
				<a class="item-box" href="/nike-ldwaffle-black">
					<img class="item-image"
						src="images/NikeLDWaffleBlack.jpg">
					<div class="item-info">
						<div class="item-name">Nike LDWaffle x Sacai</div>
						<div class="item-color">Black-Nylon</div>
						<div class="item-price">
							<span class="price">Ksh.3500</span>
						</div>
					</div>
				</a>
			</li>
			<li class="item">
				<a class="item-box" href="/nike-air-jordan-1">
					<img class="item-image"
						src="images/AirJordanLow.jpg">
					<div class="item-info">
						<div class="item-name">Nike Air Jordan 1 Low</div>
						<div class="item-color">Galaxy</div>
						<div class="item-price">
							<span class="price">Ksh.4000</span>
						</div>
					</div>
				</a>
			</li>
			<li class="item">
				<a class="item-box" href="/nike-air-jordan-13-black">
					<img class="item-image"
						src="images/Air13.jpg">
					<div class="item-info">
						<div class="item-name">Nike Air Jordan 13 Retro</div>
						<div class="item-color">Black</div>
						<div class="item-price">
							<span class="price">Ksh.4000</span>
						</div>
					</div>
				</a>
			</li>
			<li class="item">
				<a class="item-box" href="/nike-air-force-1">
					<img class="item-image"
					    src="images/NikeAirForce.jpg">
					<div class="item-info">
						<div class="item-name">Nike Air Force 1</div>
						<div class="item-color">Be True</div>
						<div class="item-price">
							<span class="price">Ksh.3500</span>
						</div>
					</div>
				</a>
			</li>
			<li class="item">
				<a class="item-box" href="/nike-ldwaffle-white">
					<img class="item-image"
						src="images/NikeLDWaffleWhite.jpg">
					<div class="item-info">
						<div class="item-name">Nike LDWaffle X Sacai</div>
						<div class="item-color">White-Nylon</div>
						<div class="item-price">
							<span class="price">Ksh.3500</span>
						</div>
					</div>
				</a>
			</li>
		</ol>
		<div class="show-more">
			<a href="/new-arrival">Show More</a>
		</div>
	</div>

	<div class="clr"></div>

	<section id="newsletter">
		<div class="container">
			<h2>Subscribe To our Newsletter</h2>
			<form>
				<input type="email" placeholder="Enter Email">
				<button type="submit" class="button1">Subscribe</button>
			</form>
		</div>
	</section>

	<section class="boxes">
		<div class="box">
			<h2>ABOUT US</h2>
			<p>We are all about the trendy, elegant, fun and fashion-conscious you. We are the most preferred online footwear & jewelry
			   retail outlet for the modern man. Our indulgence with fashionable footwear & jewelry began in November 2019, and over the
			   years we have expanded to the online retail scene because we realized there was something missing in that sector, to cope
			   with the demands of the modern man and to widen the scope of elegant people whose needs we felt we could meet.</p>
		</div>
		<div class="box">
			<h2>QUICK LINKS</h2>
			<a href="/hot-items">Shop</a>
			<a href="/about">About Us</a>
			<a href="/contact">Contact Us</a>
			<a href="/blog">Blog</a>
			<a href="/vouchers">Gift Vouchers</a>
			<a href="/blackfriday">Black Friday</a>
			<br>
			<h2>STORE</h2>
			<ul>
				<li><i class="fas fa-map-marker-alt"></i> FortunesVibez</li>
				<li><i class="fas fa-phone-alt"></i> 0702425821</li>
				<li><i class="fas fa-envelope"></i> fortuneniguel@gmail.com</li>
			</ul>
		</div>
		<div class="box">
			<h2>Payment Methods:</h2>
			<ul>
				<li><i class="fas fa-mobile-alt"></i> M-Pesa</li>
				<li><i class="far fa-credit-card"></i> Credit Card</li>
			</ul>
			<br>
			<h2>Help Center</h2>
			<a href="/return-policy">Return Policy</a>
			<a href="/payment-policy">Payment Policy</a>
			<a href="/shipping-policy">Shipping Policy</a>
			<a href="/terms-conditions">Terms & Conditions</a>
			<br>
			<ul class="social-media-links">
				<li class="sm"> <a href="https://www.facebook.com/fortuneniguel" target="_blank" class="icon-social-facebook"
					rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
				<li class="sm"><a href="https://twitter.com/fortune_whizz" target="_blank" class="icon-social-twitter"
					rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
				<li class="sm"><a href="https://www.linkedin.com/fortunemwagmbo" target="_blank" class="icon-social-linkedin"
					rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
				<li class="sm"><a href="https://www.instagram.com/fortune.whizz" target="_blank" class="icon-social-instagram"
					rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
			</ul>
		</div>
	</section>

	<div class="clr"></div>

	<div class="footer">
		<span>FortunesVibez.com &copy;2020 All Rights Reserved</span>
	</div>
	<div class="to-topbox">
		<span onclick="topFunction()" id="topBtn" title="Go to top">
			<i class="fas fa-sort-up"></i>Back To Top
		</span>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous">
	</script>

	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
	</script>
	<script>
		var mybutton = document.getElementById("topBtn");

		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
	</script>
	<script>
		// Your web app's Firebase configuration
		var firebaseConfig = {
			apiKey: "AIzaSyD-pRgQz1p_tlE00KtC4HvwBnM575dExqQ",
			authDomain: "mwagambo-cfa3a.firebaseapp.com",
			databaseURL: "https://mwagambo-cfa3a.firebaseio.com",
			projectId: "mwagambo-cfa3a",
			storageBucket: "mwagambo-cfa3a.appspot.com",
			messagingSenderId: "775908781299",
			appId: "1:775908781299:web:4ec58d1571c286ac415b86",
			measurementId: "G-SPH6WRMQB2"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
		firebase.analytics();
	</script>
	<script src="js/main.js"></script>
</body>

</html>
