<html lang="en">

<head>
	<% include ../helpers/head %>
</head>

<body>
	<!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
	<!-- Check out more components here: http://getbootstrap.com/components/ -->
	<div class="page-header">

	<% include ../helpers/navbar %>
	<div class="container">
		<img src="images/whizz.jpg" alt="whizz" style="width:100%;">
		<div class="content">
			<h1>New Arrivals</h1>
			<p>Best foot wear collection</p>
		</div>
	</div>
	</div>

</body>

</html>