<html lang="en">

<head>
	<% include ../helpers/head %>
</head>

<body>
	<% include ../helpers/navbar %>
<div class="container">
	<img src="images/sneakers.jpg" style="width:100%;"/>
	<div class="content" style="padding:24px 48px">
		<h1 style="text-align: left;">New Arrivals</h1>
		<h1 style="text-align: left;">Latest Collection</h1>
		<button style="text-align: left;"><a class="nav-link" href="/products" button class="button">SHOP NOW</a></button> 
	</div>
</div>
	
</body>

</html>