<html lang="en">

<head>
	<% include ../helpers/head %>
</head>

<body>
	<% include ../helpers/navbar %>
<div class="container">
	<img src="images/sneakers.jpg" style="width:100%;"/>
	<div class="display-topleft text-white" style="padding:24px 48px">
		<h1>New Arrivals</h1>
		<h1>Latest Collection</h1>
		<p><a class="nav-link" href="/products" button class="button">SHOP NOW</a></p>
	</div>
</div>
	
</body>

</html>