<!DOCTYPE html>
<html>

<head>
	<title>FortunesWear</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
		}

		.navbar {
			overflow: hidden;
			background-color: #333;
		}

		.navbar a {
			float: right;
			font-size: 16px;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		.navbar-brand{
			float: left;
			font-size: 17px;
			font-weight: 400;
			color: white;
			text-align: center;
			padding: 14px 16px;
		}

		.dropdown {
			float: right;
			overflow: hidden;
		}

		.dropdown .dropbtn {
			font-size: 16px;
			border: none;
			outline: none;
			color: white;
			padding: 14px 16px;
			background-color: inherit;
			font-family: inherit;
			margin: 0;
		}

		.navbar a:hover,
		.dropdown:hover .dropbtn {
			background-color: red;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1;
		}

		.dropdown-content a {
			float: none;
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			text-align: left;
		}

		.dropdown-content a:hover {
			background-color: #ddd;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}

		.container{
			position: relative;
			max-width: 1000;
			margin:auto;
		}

		.content{
			position: absolute;
			color: white;
			width: 100%;
			padding: 20px;
		}
	</style>
</head>

<body>

	<div class="navbar">
		<span class="navbar-brand">FortunesWear</span>
		<a href="/contact">CONTACT</a>
		<a href="/about">ABOUT</a>
		<div class="dropdown">
			<button class="dropbtn">MY ACCOUNT
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/register">REGISTER</a>
				<a href="/login">LOGIN</a>
				<a href="/cart">CART</a>
				<a href="/shop">SHOP</a>
				<a href="/logout">LOGOUT</a>
			</div>
		</div>
		<a href="/blog">BLOG</a>
		<a href="/women">WOMEN</a>
		<a href="/men">MEN</a>
		<a href="/">HOME</a>
	</div>

	<div class="container">
		<img src="images/sneakers.jpg" style="width: max-content;"/>
		<div class="content">
			<h2 style="text-align: left;">New Arrivals</h2>
			<h1 style="text-align: left;">Latest Collection</h1>
			<button style="text-align: left;" class="button"><a href="/men"></a></button>
		</div>
	</div>

</body>

</html>