<!DOCTYPE html>
<html>

<head>
	<title>FortunesWear</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
			background-color: aquamarineg;
		}

		.navbar {
			overflow: hidden;
			background-color: #333;
		}

		.navbar a {
			float: right;
			font-size: 16px;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		.navbar-brand{
			float: left;
			font-size: 17px;
			font-weight: 400;
			color: white;
			text-align: center;
			padding: 14px 16px;
		}

		.dropdown {
			float: right;
			overflow: hidden;
		}

		.dropdown .dropbtn {
			font-size: 16px;
			border: none;
			outline: none;
			color: white;
			padding: 14px 16px;
			background-color: inherit;
			font-family: inherit;
			margin: 0;
		}

		.navbar a:hover,
		.dropdown:hover .dropbtn {
			background-color: red;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1;
		}

		.dropdown-content a {
			float: none;
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			text-align: left;
		}

		.dropdown-content a:hover {
			background-color: #ddd;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}

		.container{
			width: 500px;
			margin:auto;
		}

		.box-1{
			background-attachment: #333;
			color: #fff;

		}
	</style>
</head>

<body>

	<div class="navbar">
		<span class="navbar-brand">FortunesWear</span>
		<a href="/contact">CONTACT</a>
		<a href="/about">ABOUT</a>
		<div class="dropdown">
			<button class="dropbtn">MY ACCOUNT
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/register">REGISTER</a>
				<a href="/login">LOGIN</a>
				<a href="/cart">CART</a>
				<a href="/shop">SHOP</a>
				<a href="/logout">LOGOUT</a>
			</div>
		</div>
		<a href="/blog">BLOG</a>
		<a href="/women">WOMEN</a>
		<a href="/men">MEN</a>
		<a href="/">HOME</a>
	</div>

	<div class="container">
		<div class="box-1">
			<h1>Hello World</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas quidem odit ipsum tempore harum, delectus veritatis commodi excepturi reiciendis doloremque! Tenetur corporis enim natus sequi dolore! Placeat, nesciunt ea?</p>
		</div>
	</div>

	<!-- Footer -->
	<footer class="w3-padding-60 w3-light-grey w3-small w3-center" id="footer">
		<div class="w3-row-padding">
			<div class="w3-col s4">
				<h4>Contact</h4>
				<p>Questions? Go ahead.</p>
				<form action="/action_page.php" target="_blank">
					<p><input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required></p>
					<p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>
					<p><input class="w3-input w3-border" type="text" placeholder="Subject" name="Subject" required></p>
					<p><input class="w3-input w3-border" type="text" placeholder="Message" name="Message" required></p>
					<button type="submit" class="w3-button w3-block w3-black">Send</button>
				</form>
			</div>
	
			<div class="w3-col s4">
				<h3>About</h3>
				<p><a href="/">About us</a></p>
			</div>
	
			<div class="w3-col s4 w3-justify">
				<h3>Store</h3>
				<p><i class="fa fa-fw fa-map-marker"></i> FortunesWear</p>
				<p><i class="fa fa-fw fa-phone"></i> 0702425821</p>
				<p><i class="fa fa-fw fa-envelope"></i> fortuneniguel@mail.com</p>
				<h3>We accept</h3>
				<p><i class="fa fa-fw fa-cc-amex"></i> Mpesa</p>
				<p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
				<br>
				<i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
				<i class="fa fa-instagram w3-hover-opacity w3-large"></i>
				<i class="fa fa-twitter w3-hover-opacity w3-large"></i>
				<i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
			</div>

			<div class="w3-col s4">
				<h3>Quick Links</h3>
				<p><a href="/shop">Shop</a></p>
				<p><a href="/men">Men</a></p>
				<p><a href="/women">Women</a></p>
				<p><a href="/blog">Blog</a></p>
				<p><a href="/about">About</a></p>
			</div>
		</div>
	</footer>

	<div class="w3-black w3-center w3-padding-22">© Copyright 2020 FortunesWear.com. All rights reserved.</div>
</body>

</html>