<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body {
			margin: 0;
			font-family: Arial, Helvetica, sans-serif;
		}

		.topnav {
			overflow: hidden;
			background-color: #333;
		}

		.topnav a {
			float: left;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
		}

		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}

		.topnav a.active {
			background-color: #4CAF50;
			color: white;
		}

		.topnav-right {
			float: right;
		}

		.topnav .nav-item{
            color: white;
	        float: right;
            text-decoration: none;
            text-align: center;
            font-size: 16px;
	        display: block; 
        } 

        .topnav .nav_link{
	        color: white;
	        float: right;
            text-decoration: none;
            text-align: center;
            font-size: 16px;
	        display: block;
		}

		.dropdown{
          float: right;
        }

        .dropdown-toggle{
          font-size: 16px;
          border: none;
          color: white;
          padding: 14px 16px;
        }

        .dropdown-menu{
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-menu a {
            float: none;
            color: black;
            text-decoration: none;
            display: none;
            text-align: left;
        }

        .dropdown-menu a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-menu {
			display: block;
			
	</style>
</head>

<body>

	<div class="topnav">
		FortunesWear
		<div class="topnav-right">
			<ul class="topnav">
				<li class="nav-item">
					<a class="nav-link" href="/home">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/men">MEN/<a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/women">WOMEN</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/blog">BLOG</a>
				</li>

				<!-- Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="/my account" id="topnavdrop" data-toggle="dropdown">
						MY ACCOUNT
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/register">REGISTER</a>
						<a class="dropdown-item" href="/login">LOGIN</a>
						<a class="dropdown-item" href="/cart">CART</a>
						<a class="dropdown-item" href="/shop">SHOP</a>
						<a class="dropdown-item" href="/logout">LOGOUT</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">ABOUT</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">CONTACT</a>
				</li>
			</ul>	
		</div>
	</div>

	<div class="container">
		<img src="images/sneakers.jpg" style="width: 100;"/>
	</div>

</body>

</html>