<html lang="en">

<head>
    <title>Men</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="main.js"></script>
</head>

<body>
    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->

    <header>
        <div class="navbar">
            <span class="navbar-brand">FortunesWear</span>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/men">Men</a></li>
                <li><a href="/women">WOMEN</a></li>
                <li><a href="/blog">Blog</a></li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">MY ACCOUNT
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="/register">REGISTER</a>
                            <a href="/login">LOGIN</a>
                            <a href="/cart">CART</a>
                            <a href="/shop">SHOP</a>
                            <a href="/logout">LOGOUT</a>
                        </div>
                    </div>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </header>

    <h1 style="text-align: center;" class="titile"> Men's Wear</h1>
    <!-- Product grid -->
    <div class="product-grid">
        <div class="product-men">
            <div class="men">
                <img src="images/adidasYeezyBoost350.jpg" class="image" style="width:100%">
                <div class="middle">
                    <button class="button">Buy Now</button>
                </div>
                <div class="item-name">Adidas YeezyBoost350</div>
                <div class="price">Ksh.4000</div>
            </div>
            <div class="men">
                <img src="images/adidasYeezyBoost350Asia.jpg" class="image" style="width:100%">
                <div class="middle">
                    <button class="button">Buy Now</button>
                </div>
                <div class="item-name">Adidas YeezyBoost350 Asia</div>
                <div class="price">Ksh.4000</div>
            </div>
            <div class="men">
                <img src="images/adidasYeezyBoost350d.jpg" class="image" style="width:100%">
                <div class="middle">
                    <button class="button">Buy Now</button>
                </div>
                <div class="item-name">Adidas YeezyBoost350 Desert</div>
                <div class="price">Ksh.4000</div>
            </div>
            <div class="men">
                <img src="images/NikeAirjordan3Retro.jpg" class="image" style="width:100%">
                <div class="middle">
                    <button class="button">Buy Now</button>
                </div>
                <div class="item-name">Nike AirJordan 3 Retro</div>
                <div class="price">Ksh.4000</div>
            </div>
            <div class="men">
                <img src="images/NikeAirJordan4Retro.jpg" class="image" style="width:100%">
                <div class="middle">
                    <button class="button">Buy Now</button>
                </div>
                <div class="item-name">Nike AirJordan 4 Retro</div>
                <div class="price">Ksh.4000</div>
            </div>
            <div class="men">
                <img src="images/NikeAirJordan5Retro.jpg" class="image" style="width:100%">
                <div class="middle">
                    <button class="button">Buy Now</button>
                </div>
                <div class="item-name">Nike AirJordan 5 Retro</div>
                <div class="price">Ksh.4000</div>
            </div>
            <div class="men">
                <img src="images/NikeAirJordan6Retro.jpg" class="image" style="width:100%">
                <div class="middle">
                    <button class="button">Buy Now</button>
                </div>
                <div class="item-name">Nike AirJordan 6 Retro</div>
                <div class="price">Ksh.4000</div>
            </div>
            <div class="men">
                <img src="images/NikeLDWaffleBlack.jpg" class="image" style="width:100%">
                <div class="middle">
                    <button class="button">Buy Now</button>
                </div>
                <div class="item-name">Nike LDWafffle Black</div>
                <div class="price">Ksh.4000</div>
            </div>
            <div class="men">
                <img src="images/NikeLDWaffleWhite.jpg" class="image" style="width:100%">
                <div class="middle">
                    <button class="button">Buy Now</button>
                </div>
                <div class="item-name">Nike LDWafffle White</div>
                <div class="price">Ksh.4000</div>
            </div>
        </div>
    </div>
        
</body>

</html>