<html lang="en">

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->

        <h1 style="text-align: center;">Men's Wear</h1>
        <!-- Product grid -->
        <div class="w3-row w3-grayscale">
            <div class="w3-col l3 s6">
                <div class="w3-container">
                    <img src="images/lebron.png" style="width:100%"/>
                    <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
                </div>
                <div class="w3-container">
                    <img src="images/nikeb.png" style="width:100%">
                    <p>Mega Ripped Jeans<br><b>$19.99</b></p>
                </div>
            </div>
        
            <div class="w3-col l3 s6">
                <div class="w3-container">
                    <div class="w3-display-container">
                        <img src="images/nikeb.png" style="width:100%"/>
                        <span class="w3-tag w3-display-topleft">New</span>
                        <div class="w3-display-middle w3-display-hover">
                            <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                    <p>Mega Ripped Jeans<br><b>$19.99</b></p>
                </div>
                <div class="w3-container">
                    <img src="images/nikew.png" style="width:100%"/>
                    <p>Washed Skinny Jeans<br><b>$20.50</b></p>
                </div>
            </div>
        
            <div class="w3-col l3 s6">
                <div class="w3-container">
                    <img src="images/nikew.png" style="width:100%"/>
                    <p>Washed Skinny Jeans<br><b>$20.50</b></p>
                </div>
                <div class="w3-container">
                    <div class="w3-display-container">
                        <img src="images/offwhite.png" style="width:100%"/>
                        <span class="w3-tag w3-display-topleft">Sale</span>
                        <div class="w3-display-middle w3-display-hover">
                            <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                    <p>Vintage Skinny Jeans<br><b class="w3-text-red">$14.99</b></p>
                </div>
            </div>
        
            <div class="w3-col l3 s6">
                <div class="w3-container">
                    <img src="images/offwhite.png" style="width:100%"/>
                    <p>Vintage Skinny Jeans<br><b>$14.99</b></p>
                </div>
                <div class="w3-container">
                    <img src="images/lebron.png" style="width:100%"/>
                    <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
                </div>
            </div>
        </div>
</body>

</html>