<html lang="en">

<head>
    <title>men</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->

    <h1 style="text-align: center;" class="titile"> Men's Wear</h1>
    <!-- Product grid -->
    <div class="product-grid">
        <div class="product-men">
            <div class="men">
                <img src="images/adidasYeezyBoost350.jpg" class="image" style="width:100%">
                <div class="middle">
                    <button class="button">Buy Now</button>
                    <div class="product-name">Adidas YeezyBoost350</div>
                    <div class="price">Ksh.4000</div>
                </div>
            </div>
        </div>
    </div>
        
</body>

</html>