<!DOCTYPE html>
<html>

<head>
    <title>new-arrivals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <% include ../helpers/navbar %>
    
    <section id="home-new-arrival">
        <div class="container">
            <h4>New Arrivals</h4>
            <div class="new-products">
                <div class="product-item">
                    <img src="images/adidasYeezyBoost350.jpg" class="image" style="width:100%">
                    <div class="item-name">Adidas YeezyBoost350</div>
                    <div class="price">Ksh.4000</div>
                </div>
                <div class="product-item">
                    <img src="images/adidasYeezyBoost350Asia.jpg" class="image" style="width:100%">
                    <div class="item-name">Adidas YeezyBoost350 Asia</div>
                    <div class="price">Ksh.4000</div>
                </div>
                <div class="product-item">
                    <img src="images/adidasYeezyBoost350d.jpg" class="image" style="width:100%">
                    <div class="item-name">Adidas YeezyBoost350 Desert</div>
                    <div class="price">Ksh.4000</div>
                </div>
                <div class="product-item">
                    <img src="images/NikeAirJordan4Retro.jpg" class="image" style="width:100%">
                    <div class="item-name">Nike AirJordan 4 Retro</div>
                    <div class="price">Ksh.4000</div>
                </div>
                <div class="product-item">
                    <img src="images/NikeAirJordan5Retro.jpg" class="image" style="width:100%">
                    <div class="item-name">Nike AirJordan 5 Retro</div>
                    <div class="price">Ksh.4000</div>
                </div>
                <div class="product-item">
                    <img src="images/NikeAirJordan6Retro.jpg" class="image" style="width:100%">
                    <div class="item-name">Nike AirJordan 6 Retro</div>
                    <div class="price">Ksh.4000</div>
                </div>
                <div class="product-item">
                    <img src="images/NikeLDWaffleBlack.jpg" class="image" style="width:100%">
                    <div class="item-name">Nike LDWafffle Black</div>
                    <div class="price">Ksh.4000</div>
                </div>
                <div class="product-item">
                    <img src="images/NikeLDWaffleWhite.jpg" class="image" style="width:100%">
                    <div class="item-name">Nike LDWafffle White</div>
                    <div class="price">Ksh.4000</div>
                </div>
            </div>
        </div>
    </section>
</body>