<!DOCTYPE html>
<html>

<head>
    <title>new-arrivals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <% include ../helpers/navbar %>
    <% include ../helpers/sidenav %>

    <article class="prd _fb col c-prd"><a class="core"
            href="/fashion-mens-casual-breathable-canvas-sneakers-black-13809483.html" data-id="FA113AA0MWZPRNAFAMZ"
            data-name="Men's Casual Breathable Canvas Sneakers - Black" data-price="6.16" data-brand="Fashion"
            data-category="Fashion/Men's Fashion/Shoes/Fashion Sneakers" data-dimension23="12728" data-dimension26="297"
            data-dimension27="3.8" data-dimension28="1" data-dimension37="0" data-dimension43="COL_50|GAM0|JESS|SNEF"
            data-dimension44="0" data-list="" data-position="1" data-track-onclick="eecProduct"
            data-track-onview="eecProduct" data-track-onclick-bound="true">
            <div class="img-c"><img
                    data-src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/38/490831/1.jpg?7719"
                    src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/38/490831/1.jpg?7719"
                    class="img" width="208" height="208" alt=""></div>
            <div class="info">
                <h3 class="name">Fashion Men's Casual Breathable Canvas Sneakers - Black</h3>
                <div class="prc">KSh 720</div>
                <div class="s-prc-w">
                    <div class="old">KSh 1,300</div>
                    <div class="tag _dsct _sm">45%</div>
                </div>
                <div class="rev">
                    <div class="stars _s">3.8 out of 5<div class="in" style="width:76%"></div>
                    </div>(297)
                </div><svg aria-label="Express Shipping" viewBox="0 0 114 12" class="ic xprss" width="94" height="10">
                    <use xlink:href="https://www.jumia.co.ke/assets_he/images/i-shop-jumia.c8de1c55.svg#express"></use>
                </svg>
            </div>
        </a>
        <footer class="ft">
            <form method="post" data-add-cart="" data-sku="FA113AA0MWZPRNAFAMZ" data-var-sel="true"
                data-id="FA113AA0MWZPRNAFAMZ" data-name="Men's Casual Breathable Canvas Sneakers - Black" data-price="6.16"
                data-brand="Fashion" data-category="Fashion/Men's Fashion/Shoes/Fashion Sneakers" data-dimension23="12728"
                data-dimension26="297" data-dimension27="3.8" data-dimension28="1" data-dimension37="0"
                data-dimension43="COL_50|GAM0|JESS|SNEF" data-dimension44="0" data-track-onsubmit="addToCart"
                novalidate="true"><input name="simpleSku" value="false" type="hidden"><button data-submit=""
                    class="add btn _prim _sm">Add To Cart</button><input name="csrfToken"
                    value="d12e085a486ecd04e5129ad24882d83d" type="hidden"></form>
        </footer>
    </article>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <script src="js/main.js"></script>
</body>