<!DOCTYPE html>
<html>
    <head>
        <title>Payment Policy</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>

    <body>
        <% include ../helpers/navbar %>
        <% include ../helpers/sidenav %>
        
        <div class="page-wrapper">
            <p>At FortunesWear, we endeavor to provide you with the safest and the most secure payment options. In the interest of
                your safety when making payments, and the security of your personal information, we employ the use of encrypted
                connections that conform to the highest security standards there are today. This will enable you to make all your
                transactions with us confidentially.
            </p>
            <p>The payment options we have are:</p>
            <ul>
                <li><strong>Cash</strong>: This payment method is only limited to those customers who visit our shop and when
                    collecting your item during physicall delivery.</li>
                <li><strong>PayPal</strong>: This is very convenient for online shopping. Remember that you can pay by PayPal
                    with your credit or debit card even when you do not have a PayPal account.</li>
                <li><strong>Mobile Money</strong>: Make use of the available Mobile Money transfer systems that are available from
                    the comfort of your house, at work or on your travels.</li>
            </ul>
            <p>Please note the for items that require shipping via courier service, shipping will only be done upon payment of both
                the items value and shipping fees. Non-payment will result in the cancellation of the order. We have made the
                process as smooth as possible and your cooperation is requested.
            </p>
            <p>To shop with confidence, select your most convenient payment option and enjoy happy shopping!
            </p>
        </div>


        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </body>
</html>