<html lang="en">
<head>
 <% include ../helpers/head %>
</head>

<body>
    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->
    <div class="page-header">
    <% include ../helpers/navbar %>
    <!-- Product grid -->
    <div class="row grayscale">
        <div class="col l3 s6">
            <div class="container">
                <img src="images/lebron.png" style="width:100%">
                <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
            </div>
            <div class="container">
                <img src="images/nikeb.png" style="width:100%">
                <p>Mega Ripped Jeans<br><b>$19.99</b></p>
            </div>
        </div>
    
        <div class="col l3 s6">
            <div class="container">
                <img src="images/nikew.png" style="width:100%">
                <p>Washed Skinny Jeans<br><b>$20.50</b></p>
            </div>
            <div class="container">
                <img src="images/offwhite.png" style="width:100%">
                <p>Vintage Skinny Jeans<br><b>$14.99</b></p>
            </div>
        </div>
    </div> 
</body>

</html>