<!DOCTYPE html>
<html>

<head>
    <title>Online Shopping for Jewelry and FootWear in Kenya | FortunesVibez</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ecommerce.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script>
    <script src="https://kit.fontawesome.com/c5a0d2be63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        .form {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
        .fieldset.login {
            font-size: 14px;
            font-weight: 300;
            color: #020202;
        }
        .fieldset.login .note {
            display: none;
        }
        .fieldset .field {
            margin: 0 0 20px;
        }
        .fieldset {
            letter-spacing: normal;
        }
        .fieldset.login {
            font-size: 14px;
            font-weight: 300;
            color: #020202;
        }
        .fieldset.login .email{
            margin-bottom: 30px;
        }
        .fieldset.login .email .label{
            width: auto;
            text-align: left;
            float: none;
            display: block;
            padding: 0 0 10px;
            height: 18px;
            line-height: 18px;
            box-sizing: content-box;
            color: #333;
        }
        .fieldset .field .label {
            margin: 0 0 5px;
            font-weight: 700;
        }
        .fieldset.login .email .control{
            float: none;
            width: 100%;
        }
        .fieldset.login .email .control>input{
            height: 44px;
            line-height: 44px;
            background: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 0 0 500px #fff inset;
        }
        input[type=email] {
            background: #fff;
            background-clip: padding-box;
            border: 1px solid #c2c2c2;
            border-radius: 1px;
            font-family: 'ProximaNova-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-size: 14px;
            height: 32px;
            line-height: 1.42857143;
            padding: 0 9px;
            vertical-align: baseline;
            width: 100%;
            box-sizing: border-box;
        }
        .fieldset.login .password {
            margin-bottom: 30px;
        }
        input[type=checkbox] {
            margin: 2px 5px 0 0;
        }
        i {
            font-style: italic;
        }
        .fieldset.login .actions-toolbar {
            margin-left: 0;
            position: relative;
            margin-top: 78px;
        }
        .fieldset.login .actions-toolbar .primary {
            float: none;
            width: 100%;
        }
        .actions-toolbar>.primary{
            text-align: center;
            margin-bottom: 10px;
        }
        .fieldset.login .actions-toolbar .primary .action {
            display: inline-block;
            width: 100%;
            height: 44px;
            background-color: #1d1e20;
            color: #fff;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: unset;
            text-transform: uppercase;
            font-weight: 400;
        }
        .fieldset.login .actions-toolbar .secondary {
            position: absolute;
            right: 0;
            line-height: 18px;
            float: unset;
        }
        .actions-toolbar>.secondary .action:last-child {
            margin-bottom: 0;
        }
        .pslogin-spacer {
            display: block;
            margin: 10px auto;
            position: relative;
            text-align: center;
            line-height: 16px!important;
            top: auto;
            left: auto;
            height: auto;
            width: auto;
            overflow: visible;
            font-size: 13px;
        }
        .pslogin-spacer {
            z-index: -1;
        }
        .pslogin-spacer .pslogin-bordertext {
            color: #b2b2b2;
            text-align: center;
            font-size: 11px;
            text-transform: uppercase;
        }
        .pslogin-spacer table td {
            vertical-align: middle;
            padding: 10px 5px;
        }
        .w25 {
            width: 25px!important;
        }
        .pslogin-spacer .pslogin-border {
            border-top: 1px solid #e5e2e2;
            width: 100%;
        }
        .pslogin-block {
            width: 100%;
            margin: 0 0 20px;
        }
        .pslogin-block * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        .pslogin-block.pslogin-login .pslogin-buttons {
            display: block;
        }
        #login-form .pslogin-buttons ul {
            margin-left: -7px;
        }
        .form-login .pslogin-block .pslogin-buttons ul {
            padding-left: 0;
        }
        .pslogin-block .pslogin-buttons ul {
            padding: 0
        }
        .login-container ul {
            font-size: small;
            line-height: 1.4;
            list-style-type: disc;
        }
        .pslogin-block .pslogin-buttons ul li {
            display: block;
            float: left;
            line-height: normal;
            list-style: none!important;
            padding: 0!important;
            background: none!important;
            height: 32px;
            margin: 0 7px 7px 0;
            position: relative;
        }
        .pslogin-block .pslogin-buttons ul li a {
            width: 100%!important;
            vertical-align: top;
        }
        .pslogin-block .pslogin-buttons, 
        .facebook .pslogin-button-auto {
            background-color: #4267B2!important;
        }
        .pslogin-block .pslogin-buttons,
        .facebook .pslogin-button-icon {
            background-position: -1px 1px;
        }
        #login-form .pslogin-buttons.pslogin-buttons-showfull .pslogin-button-text {
            min-width: 161px;
            display: inline-block;
            background-color: transparent;
        }
        .pslogin-block .pslogin-buttons .twitter .pslogin-button-auto {
            background-color: #28a9e2
        }
        .pslogin-block .pslogin-buttons .twitter .pslogin-button-icon {
            background-position: -34px 0;
        }
        .pslogin-block .pslogin-buttons .google .pslogin-button-icon {
            background-position: -136px -2px;
            background-color: #fff;
        }
        .pslogin-block .pslogin-buttons .wechat .pslogin-button-auto {
            background-color: #4ec034;
        }


    
    </style>
</head>

<body>
    <form class="form form-login" action="https://fortuneswear.herokuapp.com/customer/account/loginPost/" method="POST"
        id="login-form" novalidate="novalidate">
        <input name="form_key" type="hidden" value="">
        <fieldset class="fieldset login" data-hasrequired="* Required Fields">
            <div class="field note">If you have an account, sign in with your email address.</div>
            <div class="field email required">
                <label class="label" for="email"><span>Email</span></label>
                <div class="control">
                    <input name="login[username]" value="" autocomplete="off" id="email" type="email" class="input-text"
                        title="Email" data-validate="{required:true, 'validate-email':true}" aria-required="true">
                </div>
            </div>
            <div class="field password required">
                <label for="pass" class="label"><span>Password</span></label>
                <div class="control">
                    <input name="login[password]" type="password" autocomplete="off" class="input-text" id="pass"
                        title="Password" data-validate="{required:true}" aria-required="true">
                </div>
            </div>
            <div id="remember-me-box" class="field choice persistent">
                <input type="checkbox" name="persistent_remember_me" class="checkbox" id="remember_meNBxiw3dGu4"
                    checked="checked" title="Remember Me">
                <label for="remember_meNBxiw3dGu4" class="label label-checkbox-persistent">
                    <i class="i-checkbox-persistent checked"></i>
                    <span>Keep me logged in</span>
                </label>
            </div>
            <div class="field-recaptcha" id="msp-recaptcha-d84b65fc916e7398083ea5f17089d8f1-container"
                data-bind="scope:'msp-recaptcha-d84b65fc916e7398083ea5f17089d8f1'">
                <!-- ko template: getTemplate() -->
                <!-- ko if: (getIsVisible()) -->
                <!-- /ko -->
                <!-- /ko -->
            </div>
    
            <div class="actions-toolbar">
                <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span>Sign
                            In</span></button></div>
                <div class="secondary"><a class="action remind"
                        href="https://fortuneswear.herokuapp.com/customer/account/forgotpassword/"><span>Forgot Your
                            Password?</span></a></div>
            </div>
            <div class="pslogin-spacer pslogin-clearfix">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="pslogin-border"></div>
                            </td>
                            <td class="pslogin-bordertext w25">or</td>
                            <td>
                                <div class="pslogin-border"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pslogin-block pslogin-login">
                <div class="pslogin-spacer pslogin-clearfix">
                    <span class="pslogin-title" style="display: none;">Login with your social account</span>
                </div>
                <div class="pslogin-buttons pslogin-buttons-showfull">
                    <ul class="pslogin-clearfix">
                        <li class="pslogin-button facebook pslogin-visible" title="facebook">
                            <a class="pslogin-button-link pslogin-button-click" rel="nofollow" href="javascript:void(0);"
                                data-href="https://fortuneswear.herokuapp.com/pslogin/account/douse/type/facebook/refresh/1592487290/customer_action/login/"
                                data-width="650" data-height="350">
                                <span class="pslogin-button-auto  ">
                                    <span class="pslogin-button-icon">
                                    </span>
                                    <span class="pslogin-button-text">facebook</span>
                                </span>
                            </a>
                        </li>
                        <li class="pslogin-button twitter pslogin-visible" title="twitter">
                            <a class="pslogin-button-link pslogin-button-click" rel="nofollow" href="javascript:void(0);"
                                data-href="https://fortuneswear.herokuapp.com/pslogin/account/douse/type/twitter/refresh/1592487290/customer_action/login/"
                                data-width="630" data-height="650">
                                <span class="pslogin-button-auto  ">
                                    <span class="pslogin-button-icon">
                                    </span>
                                    <span class="pslogin-button-text">twitter</span>
                                </span>
                            </a>
                        </li>
                        <li class="pslogin-button google pslogin-visible" title="Login with Google">
                            <a class="pslogin-button-link pslogin-button-click" rel="nofollow" href="javascript:void(0);"
                                data-href="https://fortuneswear.herokuapp.com/pslogin/account/douse/type/google/refresh/1592487290/customer_action/login/"
                                data-width="450" data-height="450">
                                <span class="pslogin-button-auto  ">
                                    <span class="pslogin-button-icon">
                                    </span>
                                    <span class="pslogin-button-text">Login with Google</span>
                                </span>
                            </a>
                        </li>
                        <li class="pslogin-button wechat pslogin-visible" title="Login with WeChat">
                            <a class="pslogin-button-link pslogin-button-click" rel="nofollow" href="javascript:void(0);"
                                data-href="https://fortuneswear.herokuapp.com/pslogin/account/douse/type/wechat/refresh/1592487290/customer_action/login/"
                                data-width="650" data-height="400">
                                <span class="pslogin-button-auto  ">
                                    <span class="pslogin-button-icon">
                                    </span>
                                    <span class="pslogin-button-text">Login with WeChat</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="clear: both;"></div>
            <script type="text/javascript">
                var showFullButtonsAfterViewMore = true;
                if (window.psloginButtons) {
                    requirejs(['pslogin']);
                }
            </script>
        </fieldset>
    </form>
</body>