<div class="home-top-product">
    <ul>
        <li class="item"><a href="https://www.kickscrew.com/air-jordan.html">
            <img src="images/lebron.png"/>
                    </a>
            <div class="product-info">
                <div class="product-name">Nike Air Jordan</div>
                <a href="https://www.kickscrew.com/air-jordan.html"> <span>SHOP NOW</span> </a>
            </div>
        </li>
        <li class="item"><a href="https://www.kickscrew.com/nike.html">
            <img src="images/nikeb.png"/>
                </a>
            <div class="product-info">
                <div class="product-name">Nike&nbsp;</div>
                <a href="https://www.kickscrew.com/air-jordan.html"> </a><a
                    href="https://www.kickscrew.com/nike.html"><span>SHOP NOW</span></a>
            </div>
        </li>
        <li class="item"><a href="https://www.kickscrew.com/adidas/yeezy.html">
            <img src="images/nikew.png"/>
                </a>
            <div class="product-info">
                <div class="product-name">ADIDAS YEEZY</div>
                <span><a href="https://www.kickscrew.com/adidas/yeezy.html">SHOP NOW</a></span>
            </div>
        </li>
    </ul>
</div>