<!DOCTYPE html>
<html>
    <head>
        <title>Terms & Conditions</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>

    <body>
        <% include ../helpers/navbar %>
        <% include ../helpers/sidenav %>

        <div class="page-wrapper">
            <h4><b>Terms &amp; Conditions</b></h4>
            <br>
            <p><b>Payment Methods:</b></p>
            <p>FortunesWear.com accepts PayPal (Credit Card, Bank), Cash Pay and Mobile Money Pay.</p>
            <p>Please check here (<a href="https://fortuneswear.herokuapp.com/shipping-policy">https://fortuneswear.herokuapp.com/shipping-policy</a>)
                accordingly.</p>
            <div>
                <p>All the prices are listed in <b>Kenya currency</b>.</p>
                <p>&nbsp;</p>
                <hr>
            </div>
            <p><b>Order Cancellations:</b></p>
            <p>Orders <b>cannot</b> be canceled <b>once it has been dispatched</b>.</p>
            <div>
                <p>A cancellation fee - <b>15% of the purchase amount</b> will be charged for all cancellations.</p>
                <p>Please message us on our website or send us an email at <a href="mailto:fortuneniguel@gmail.com"
                        target="_blank">fortuneniguel@gmail.com</a> for cancellation requests.
                    </p>
                <p>&nbsp;</p>
                <hr>
                <p></p>       
            </div>
            <p><b>Returns</b></p>
            <p>Returns will only be accepted<b> within 7 days of the delivery date </b>granted that the item(s) is<b> in its
                    original state </b>and with the <b>FortunesWear tags attached</b>.
            </p>
            <p>The buyer will be entitled to a refund (<b>85% of the product price</b>) once the item(s) is returned successfully.
                The initial delivery fee and restocking fee (15% of the product price) will be deducted from the transaction amount.
            </p>
            <p>The buyer is responsible for all shipping fees and the return address will be provided after the exchange is
                confirmed by FortunesWear team.
            </p>
            <p><i>Please contact our customer service team <b>before</b> returning any product.</i></p>
            <p><b><i>*Return of products will not be accepted if the products/ boxes are damaged/ not in their original condition,
                        or if the tags are removed.*</i></b><b><i></i></b>
            </p>
            <div>
                <p>&nbsp;</p>
                <hr>
                <p></p>
            </div>
            <p><b>Size Exchanges</b></p>
            <div>
                <p>Size exchange is available under the condition that the item(s) is<b> unused </b>and still has the<b> FortunesWear
                        tags attached</b>.</p>
                <p>Request for size exchange can only be made <b>within 7 days of the delivery date </b>and <b>subject to
                        availability</b>.</p>
                <p>The <b>reason of exchange</b> and the <b>desired size </b>should be stated when contacting our customer service
                    team.</p>
                <p>The buyer is responsible for all shipping fees (return &amp; reship) and the return address will be provided
                    <b><i>after the exchange is confirmed by FortunesWear team.</i></b></p>
                <p><i>Please contact our customer service team <b>before</b> returning any product.</i></p>
                <p><b><i>*Return of products will not be accepted if the products/ boxes are damaged/ not in their original
                            condition, or if the tags are removed.*</i></b></p>
            </div>
            <br>
            <p><b>Additional Information</b></p>
            <p><b>1) Pre-order item purchased with/ without in-stock item(s)</b></p>
            <p>Timelines for pre-order vary depending on product. The official release date of pre-order items may vary. Further
                information can be provided on request.
            </p>
            <p>If an in-stock item is purchased together, the buyer’s order will be shipped when all items become available.</p>
            <p><b>2) In-stock item(s)</b></p>
            <p>Processing time frames differ for each item and orders will be shipped as soon as possible.</p>
            <p>Free Shipping Item(s) will be delivered by Air Mail. In case that Air Mail is not available in the designated
                country, it will be delivered by other service provider.
            </p>
            <div>
                <p><i>**Products and prices are subject to availability. In the event that the product is unavailable, the buyer
                        will be informed, and a full refund of the item will be offered.</i></p>
            </div>
        </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    </body>
</html>