<!DOCTYPE html>
<html>
    <head>

    </head>
<body>
    <section class="osh-content">
        <header class="osh-cat-header">
            <h1 class="tittle">Women's Shoes</h1>
        </header>
        <section class="products">
            <div class="gallery" data-widget="gallery_page_w1">
                <style></style>
                <a rel="nollow" class="link" href="https://af.widget.mb-srv.com/">
                <div class="top"></div>
                <div class="image-wrapper defult-state">
                    <img src="images/lebron.png"/>
                </div>
                    <h2 class="tittle">
                        <span class="brand">LebronJames</span>
                        <span class="name" dir="ltr">Unisex Wear</span>
                    </h2>
                    <div class="price-container clearfix">
                        <span class="sale-flag percent">-20%</span>
                        <span class="price-box ri">
                            <span class="price">
                                <span class="mb-lng-def">Ksh</span>
                            </span>
                            <span dir="ltr">3800</span>
                        </span>
                        <span class="price-old">
                            <span>
                                <span class="mb-lng-def">Ksh</span>
                            </span>
                            <span dir="ltr">4000</span>
                        </span>
                    </div>
                    <button class="osh-btn -primary">
                        <span class="label mb-lng-def">Buy Now</span>
                    </button>
                </a>
            </div>
            <div class="gallery" data-widget="gallery_page_w1">
                <style></style>
                <a rel="nollow" class="link" href="https://af.widget.mb-srv.com/">
                    <div class="top"></div>
                    <div class="image-wrapper defult-state">
                        <img src="images/nikeb.png" />
                    </div>
                    <h2 class="tittle">
                        <span class="brand">Airforce Nike</span>
                        <span class="name" dir="ltr">Unisex Wear</span>
                    </h2>
                    <div class="price-container clearfix">
                        <span class="sale-flag percent">-20%</span>
                        <span class="price-box ri">
                            <span class="price">
                                <span class="mb-lng-def">Ksh</span>
                            </span>
                            <span dir="ltr">3800</span>
                        </span>
                        <span class="price-old">
                            <span>
                                <span class="mb-lng-def">Ksh</span>
                            </span>
                            <span dir="ltr">4000</span>
                        </span>
                    </div>
                    <button class="osh-btn -primary">
                        <span class="label mb-lng-def">Buy Now</span>
                    </button>
                </a>
            </div>
        </section>
    </section>
</body>
</html> 
