<!DOCTYPE html>
<html>

<head>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-gap: 10px;
            background-color: #2196F3;
            padding: 10px;
        }

        .grid-container>div {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid black;
            text-align: center;
            font-size: 30px;
        }

        .container {
            width: 90%;
            margin: auto;
            overflow: hidden;
        }
    </style>
</head>

<body>

    <h1>Grid Container</h1>

    <p>A Grid Container consists of grid items arranged in columns and rows</p>

    <div class="grid-container">
        <div class="container">
        <div>
            <img src="images/NikeAirjordan3Retro.jpg"/>
        </div>
        <div>
            <img src="images/NikeAirjordan3Retro.jpg"/>
        </div>
        <div>
            <img src="images/NikeAirjordan3Retro.jpg"/>
        </div>
        <div>
            <img src="images/NikeAirjordan3Retro.jpg"/>
        </div>
        <div>
            <img src="images/NikeAirjordan3Retro.jpg"/>
        </div>
        <div>
            <img src="images/NikeAirjordan3Retro.jpg"/>
        </div>
        <div>
            <img src="images/NikeAirjordan3Retro.jpg"/>
        </div>
        <div>
            <img src="images/NikeAirjordan3Retro.jpg"/>
        </div>
        </div>
    </div>

    <p>Direct child elements(s) of the grid container automatically becomes grid items.</p>

</body>

</html>
