<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <% include ../helpers/navbar %>
        <% include ../helpers/sidenav %>


        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </body>
</html>
