<!-- Navbar (sit on top) -->
<div class="topnav">
    <div class="navbar" id="myNavbar">
        <a href="#home" class="navbar">FORTUNE</a>
        <!-- Right-sided navbar links -->
        <div class="Right-sided navbar">
            <a href="#home" class="nav_link">HOME</a>
            <a href="#about" class="nav-link">ABOUT</a>
            <a href="#services" class="nav-link">SERVICES</a>
            <a href="#contact" class="nav-link">CONTACT</a>
            <!-- Navbar on small screens -->
            <header class="topnav">
                <div class="navbar">FORTUNE</div>
                <a href="javascript:void(0)" class="Right-sided navbar" onclick="open()"><i
                        class="fa fa-bars"></i></a>
            </header>
        </div>
    </div>
</div>