<ul class="nav">  
    <body>
        <div class="page header">
            <h1 style="text-align: right">Fortune</h1>
        </div>
    </body>
<body>
    <style="text-align:left">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
    <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
    <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
    <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
    </style>
</body>
</ul>