<div class="navbar">
    <span class="navbar-brand">FortunesWear</span>
    <a href="/contact">CONTACT</a>
    <a href="/about">ABOUT</a>
    <div class="dropdown">
        <button class="dropbtn">MY ACCOUNT
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/register">REGISTER</a>
            <a href="/login">LOGIN</a>
            <a href="/cart">CART</a>
            <a href="/shop">SHOP</a>
            <a href="/logout">LOGOUT</a>
        </div>
    </div>
    <a href="/blog">BLOG</a>
    <a href="/women">WOMEN</a>
    <a href="/men">MEN</a>
    <a href="/">HOME</a>
</div>