<!-- Navbar (sit on top) -->
<div class="topnav">
    <div class="navbar" id="myNavbar">
        <h1>FORTUNE</h1> 
        <!-- Right-sided navbar links -->
        <div class="Right-sided navbar">
            <ul>
              <li><a href="/" class="nav_link">HOME</a></li> 
              <li><a href="/about" class="nav-link">ABOUT</a></li>
              <li><a href="/projects" class="nav-link">PROJECTS</a></li>
              <li><a href="/contact" class="nav-link">CONTACT</a></li>    
            </ul> 
            </div>
    </div>
</div>