<ul class="nav">   
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
    <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
    <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
    <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>

    <body>
        <div class="page-header">
            <% include ../helpers/navbar %>
        
            <h1 style="text-align:right">Fortune whizz</h1>
        </div>
    </body>
</ul>