<div class="topnav">
    FortunesWear
    <div class="topnav-right">
        <a href="/home">HOME</a>
        <a href="/men">MEN</a>
        <a href="/women">WOMEN</a>
        <a href="/blog">BLOG</a>
        <!-- Dropdown-->
        <div class="topnav dropdown">
            <a class="dropdown-toggle" href="/my account" id="topnavdrop" data-togggle="dropdown">
                MY ACCOUNT</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/regidter">REGISTER</a>
                <a class="dropdown-item" href="/login">LOGIN</a>
                <a class="dropdown-item" href="/cart">CART</a>
                <a class="dropdown-item" href="/shop">SHOP</a>
                <a class="dropdown-item" href="/logout">LOGOUT</a>
            </div>
        </div>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
    </div>
</div>

<div class="container">
    <img src="images/sneakers.jpg" style="width: 100;" />
</div>