<div class="navbar">
    <div class="container">
        <div class="navbar-brand"><span class="highlight">Fortunes</span>Wear</div>
        <ul class="nav-list">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/men">Men</a>
            </li>
            <li>
                <a href="/women">Women</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">MY ACCOUNT
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/register">REGISTER</a>
                        <a href="/login">LOGIN</a>
                        <a href="/cart">CART</a>
                        <a href="/shop">SHOP</a>
                        <a href="/logout">LOGOUT</a>
                    </div>
                </div>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact us</a>
            </li>
        </ul>
    </div>
</div>