<!-- Navbar (sit on top) -->
<div class="topnav"> 
    <div class="navbar" id="myNavbar">
        <h1>FortunesWear</h1> 
        <!-- Right-sided navbar links -->
        <div class="Right-sided navbar">
            <ul class="nav">
              <li class="nav-item"><a class="nav_link" href="/">HOME</a></li> 
              <li class="nav-item"><a class="nav-link" href="/about">ABOUT</a></li>
              <li class="nav-item"><a class="nav-link" href="/products">PRODUCTS</a></li>
              <li class="nav-item"><a class="nav-link" href="/contact">CONTACT</a></li>
              <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">MY ACCOUNT</a>
                <div class="dropdown-content">
                    <a href="#">REGISTER</a>
                    <a href="#">LOG IN</a>
                    <a href="#">CART</a>
                    <a href="#">SHOP</a>
                    <a href="#">LOG OUT</a>
                </div>
              </li>
            </ul> 
        </div>  
    </div>
</div> 