<!-- Navbar (sit on top) -->
<div class="topnav"> 
    <div class="navbar" id="myNavbar">
        <h1>FORTUNE</h1> 
        <!-- Right-sided navbar links -->
        <div class="Right-sided navbar">
            <ul class="nav">
              <li class="nav-item"><a class="nav_link" href="/">HOME</a></li> 
              <li class="nav-item"><a class="nav-link" href="/about">ABOUT</a></li>
              <li class="nav-item"><a class="nav-link" href="/products">PRODUCTS</a></li>
              <li class="nav-item"><a class="nav-link" href="/contact">CONTACT</a></li>
            </ul> 
        </div>  
    </div>
</div> 