<!-- Navbar (sit on top) -->
<div class="topnav"> 
    <div class="navbar" id="myNavbar">
        <h1>FortunesWear</h1> 
        <!-- Right-sided navbar links -->
        <div class="Right-sided navbar">
            <ul class="nav">
              <li class="nav-item"><a class="nav_link" href="/">HOME</a></li> 
              <li class="nav-item"><a class="nav-link" href="/about">ABOUT</a></li>
              <li class="nav-item"><a class="nav-link" href="/products">PRODUCTS</a></li>
              <li class="nav-item"><a class="nav-link" href="/contact">CONTACT</a></li>
            <div class="dropdown">
                <button class="dropbtn">MY ACCOUNT<i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            </ul> 
        </div>  
    </div>
</div> 