<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create A New Customer Account</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: white;
        }

        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
            background-color: white;
            align-content: center;
        }

        .container h1{
            margin-top: 20px;
            text-align: center;
            font-weight: 300;
        }

        .page-main{
            margin: auto;
            padding: 0;
            flex-basis: 100%;
            flex-grow: 1;
            width: 50%;
            box-sizing: border-box;
        }
        #create-account{
            margin-top: 20px;
            padding-top: 55px;
            top: 100%;
            transform: translate(-50%, -50%);
            position: relative;
            left: 50%;
            width: 100%;
        }

        /* Full-width input fields */
        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border-radius: 1px;
            border: 1px solid #c2c2c2;
            background: #fff;
        }

        input[type=email],
        input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border-radius: 1px;
            border: 1px solid #c2c2c2;
            background: #fff;
        }

        input[type=text]:focus,
        input[type=password]:focus {
            background-color: #fff;
            outline: none;
        }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        .registerbtn {
            background-color: black;
            text-transform: uppercase;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .registerbtn:hover {
            opacity: 1;
        }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="page-main">
        <form id="create-account" action="https://fortunesvibez.herokuapp.com/account/create" method="POST"
            enctype="multipart/form-data" autocomplete="off">
            <div class="container">
                <h1>Be A Member of FortunesVibez</h1>
                <p class="conditions">
                    Before you register, please also see the<a target="_blank"
                        href="https://fortunesvibez.herokuapp.com/terms-conditions/"> Terms
                        &amp; Conditions</a>
                </p>
                <hr>
        
                <label for="firstname"><b>First Name</b></label>
                <input type="text" name="firstname" id="firstname" required>
        
                <label for="lastname"><b>Last Name</b></label>
                <input type="text" name="lastname" id="lastname" required>
        
                <label for="email"><b>Email</b></label>
                <input type="email" autocomplete="email" name="email" id="email" required>
        
                <label for="password"><b>Password</b></label>
                <input type="password" name="pass" id="pass" required>
        
                <label for="psw-repeat"><b>Confirm Password</b></label>
                <input type="password" name="pass-confirm" id="pass-confirm" arequired>
                <hr>
                <p>By creating an account you agree to FortunesVibez Terms of Services.</p>
        
                <button type="submit" class="registerbtn">Register</button>
            </div>
        
            <div class="container signin">
                <p>Already have an account? <a href="/login">LogIn</a>.</p>
            </div>
        </form>
    </div>
</body>

</html>