<!DOCTYPE html>
<html>

<head> 
    <title>Create A New Customer Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ecommerce.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script>
    <script src="https://kit.fontawesome.com/c5a0d2be63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js"></script>
    <script src="js/main.js"></script>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: white;
        }

        * {
            box-sizing: border-box;
        }

        .page-main{
            margin: auto;
            padding: 0;
            flex-basis: 100%;
            flex-grow: 1;
            width: 50%;
            box-sizing: border-box;
        }
        .create-titile{
            font-size: 18px;
            font-weight: 300;
            text-align: center;
        }
        
        .conditions{
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            margin-bottom: 20px;
            color: #999;
        }
        .conditions a{
            color: #333;
            text-decoration: underline;
        }

        /* Full-width input fields */
        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 15px;
            height: 44px;
            line-height: 44px;
            box-shadow: 0 0 0 500px #fff inset;
            margin: 5px 0 22px 0;
            display: inline-block;
            border-radius: 1px;
            border: 1px solid #c2c2c2;
            background: #fff;
        }

        input[type=email],
        input[type=password] {
            width: 100%;
            padding: 15px;
            height: 44px;
            line-height: 44px;
            box-shadow: 0 0 0 500px #fff inset;
            margin: 5px 0 22px 0;
            display: inline-block;
            border-radius: 1px;
            border: 1px solid #c2c2c2;
            background: #fff;
        }

        input[type=text]:focus,
        input[type=password]:focus {
            background-color: #fff;
            outline: none;
        }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        .registerbtn {
            background-color: black;
            text-transform: uppercase;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .registerbtn:hover {
            opacity: 1;
        }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            padding-top: 5px;
            text-align: center;
            height: 44px;
            line-height: 44px;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-12">
                    <div class="btn-group">
                        <button class="btn border dropdown-toggle my-md-4 my-2 text-white" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">KSH</button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">USD</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 text-center">
                    <h2 class="my-md-3 site-title">FortunesVibez</h2>
                </div>
                <div class="col-md-4 col-12 text-right">
                    <p class="my-md-4 header-links">
                        <i class="fas fa-user"></i>
                        <a href="/customer/account/login" class="px-2">Sign In</a>
                        <a href="/create" class="px-1">Create An Account</a>
                    </p>
                </div>
            </div>
        </div>
    
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-md navbar-light bg-white">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse show" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/new-arrival">NEW ARRIVAL</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                JEWELRY
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/men-jewelry">Men's Jewelry</a>
                                <a class="dropdown-item" href="/women-jewelry">Women's Jewelry</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SHOES
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/men-shoes">Men's Shoes</a>
                                <a class="dropdown-item" href="/women-shoes">Women's Shoes</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                MY ACCOUNT
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/login">LOGIN</a>
                                <a class="dropdown-item" href="/register">REGISTER</a>
                                <a class="dropdown-item" href="/shop">SHOP</a>
                                <a class="dropdown-item" href="/cart">CART</a>
                                <a class="dropdown-item" onclick="logout()">LOGOUT</a>
                                <a class="dropdown-item" href="/customer">ACTIVATE</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">CONTACT US</a>
                        </li>
                    </ul>
                </div>
    
                <div class="navbar-nav">
                    <li class="nav-item border rounded-circle mx-2 search-icon">
                        <a href="#">
                            <i class="fas fa-search p-2"></i>
                        </a>
                    </li>
                    <li class="nav-item border rounded-circle mx-2 shopping-cart-icon">
                        <a href="/cart">
                            <i class="fas fa-shopping-cart p-2"></i>
                        </a>
                    </li>
                </div>
            </nav>
        </div>
    </header>
    <div class="page-main">
        <form id="create-account" action="https://fortunesvibez.herokuapp.com/account/create" method="POST"
            enctype="multipart/form-data" autocomplete="off">
            <div class="container">
                <h1 class="create-titile">Be A Member of FortunesVibez</h1>
                <p class="conditions">
                    Before you register, please also see the<a target="_blank"
                        href="https://fortunesvibez.herokuapp.com/terms-conditions/"> Terms
                        &amp; Conditions</a>
                </p>
                <hr>
        
                <label for="firstname"><b>First Name</b></label>
                <input type="text" name="firstname" id="firstname" required>
        
                <label for="lastname"><b>Last Name</b></label>
                <input type="text" name="lastname" id="lastname" required>
        
                <label for="email"><b>Email</b></label>
                <input type="email" autocomplete="email" name="email" id="email" required>
        
                <label for="password"><b>Password</b></label>
                <input type="password" name="pass" id="pass" required>
        
                <label for="psw-repeat"><b>Confirm Password</b></label>
                <input type="password" name="pass-confirm" id="pass-confirm" arequired>
                <hr>
                <p>By creating an account you agree to FortunesVibez Terms of Services.</p>
        
                <button type="submit" class="registerbtn">Register</button>
            </div>
        
            <div class="container signin">
                <p>Already have an account? <a href="/login">LogIn</a>.</p>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="js/main.js"></script>
</body>

</html>