<!DOCTYPE html>
<html>
<head>
    <title>Activate | Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ecommerce.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script>
    <script src="https://kit.fontawesome.com/c5a0d2be63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="page-width text-center">
        <div class="grid">
            <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
                <div class="section-header">
                    <h1>{{ 'customer.activate_account.title' | t }}</h1>
                    <p>{{ 'customer.activate_account.subtext' | t }}</p>
                </div>

                <div class="form-vertical">
                    {% form 'activate_customer_password' %}

                    {%- if form.errors -%}
                    <div class="form-message form-message--error">
                        {{ form.errors | default_errors }}
                    </div>
                    {%- endif -%}

                    <label for="CustomerPassword"
                        class="label--hidden">{{ 'customer.activate_account.password' | t }}</label>
                    <input type="password" value="" name="customer[password]" id="CustomerPassword"
                        placeholder="{{ 'customer.activate_account.password' | t }}">

                    <label for="CustomerPasswordConfirmation"
                        class="label--hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
                    <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation"
                        placeholder="{{ 'customer.activate_account.password_confirm' | t }}">

                    <input type="submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
                    <div><input type="submit" name="decline" value="{{ 'customer.activate_account.cancel' | t }}"></div>
                    {% endform %}
                </div>
            </div>
        </div>
    </div>
</body>
</html> 