<!DOCTYPE html>
<html>

<head>
    <title>SignUp | FortunesVibez</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ecommerce.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script>
    <script src="https://kit.fontawesome.com/c5a0d2be63.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .page-main{
            margin: auto;
            padding: 0;
            flex-basis: 100%;
            flex-grow: 1;
            width: 50%;
            box-sizing: border-box;
        }
        .login-titile{
            margin-top: 30px;
            font-size: 20px;
            font-weight: 400;
            text-align: center;
        }
        .login-heading{
            border: none;
            font-size: 24px;
            color: #1d1e20;
            padding-bottom: 0;
            height: 30px;
            line-height: 30px;
            margin-bottom: 30px;
        }
        input[type=email],
        input[type=password] {
            width: 100%;
            padding: 15px;
            height: 44px;
            line-height: 44px;
            box-shadow: 0 0 0 500px #fff inset;
            margin: 5px 0 22px 0;
            display: inline-block;
            border-radius: 1px;
            border: 1px solid #c2c2c2;
            background: #fff;
        }
        .label{
            width: auto;
            text-align: left;
            float: none;
            display: block;
            padding: 0 0 10px;
            height: 18px;
            line-height: 18px;
            box-sizing: content-box;
            font-weight: 500;
            color: #333;
        }
        .clogin{
            display: inline;
            font-weight: 400;
            margin: 0 0 5px;
        }
        .remind{
            position: relative;
            right: 0;
            line-height: 18px;
            text-align: right;
            margin-bottom: 10px;
            float: unset;
        }
        .remind a{
            margin-top: 0;
            height: 18px;
            line-height: 18px;
            color: #333;
            text-decoration: underline;
        }
        .loginbtn {
            background-color: black;
            font-size: 14px;
            font-weight: 400;
            height: 44px;
            text-transform: uppercase;
            color: white;
            padding: 12px 14px;
            margin: 8px 0;
            border: none;
            border-radius: unset;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .loginbtn:hover {
            opacity: 1;
        }
    </style>
</head>

<body>
    <div class="page-main">
        <h1 class="login-title">Login Or Create An Account</h1>
        <form id="login-account" action="https://fortunesvibez.herokuapp.com/account/login" method="POST" novalidate="novalidate">
            <div class="container">
                <div class="login-heading">
                    <strong role="heading" aria-level="2">Registered Customers</strong>
                </div>
                <hr>
                <label class="label" for="email">Email</label>
                <input type="email" id="email_field">

                <label class="label" for="password">Password</label>
                <input type="password" id="password_field">

                <label for="remember_me" class="clogin">
                    <span>Keep me logged in</span>
                </label>
                <input type="checkbox" value="remember-me">

                <div class="remind">
                    <a class="action-remind" href="https://fortunesvibez.herokuapp.com/account/resetpassword/">
                        <span>Forgot Your Password?</span>
                    </a>
                </div>

                <button class="loginbtn" onclick="login()">Login</button>
            </div>
        </form>
    </div>
    <div id="login_div" class="main-div">
        <h3>Firebase Web Login</h3>
        <input type="email" placeholder="Email" id="email_field">
        <input type="password" placeholder="Password" id="password_field">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button onclick="login()">Login</button>
    </div>
    <div id="user_div" class="loggedin-div">
        <h3>Welcome User</h3>
        <p id="user_para">Welcome to Firebase web login Example. You're currently logged in.</p>
        <button onclick="logout()">Logout</button>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase.js"></script>
    <script>
        // Initialize Firebase
        var firebaseConfig = {
            apiKey: "AIzaSyD-pRgQz1p_tlE00KtC4HvwBnM575dExqQ",
            authDomain: "mwagambo-cfa3a.firebaseapp.com",
            databaseURL: "https://mwagambo-cfa3a.firebaseio.com",
            projectId: "mwagambo-cfa3a",
            storageBucket: "mwagambo-cfa3a.appspot.com",
            messagingSenderId: "775908781299",
            appId: "1:775908781299:web:4ec58d1571c286ac415b86",
            measurementId: "G-SPH6WRMQB2"
        }; 
        firebase.initializeApp(firebaseConfig);
    </script>

    <script src="js/main.js"></script>
</body>

</html>